[2015-10-12 20:22] chkim4142 opened #3 "[design] Deparser modeling"
How to model the deparsing logic?

[Problem statement]
- Attached Leo's deck [deparsing proposal -- Leo.pdf](https://github.com/p4lang/p4-spec/files/11988/deparsing.proposal.--.Leo.pdf)

[Potential solutions]
- Inference approach: Let a user express all the parsing state in the parse graph, and let the compiler infer deparsing order from the parse graph. This is what the current spec (v1.0) sugges

[2015-10-19 17:41] chkim4142 opened #4 "[design] Renaming "blackbox""
It seems the best option we've come across so far (inspired by DanT's email a while ago) is "extern". To define a new blackbox type, you can use the keyword "extern_type". To create a blackbox instance, you start with "extern". In that sense, "extern" is still a type qualifier, not a type in itself.

**

An example for counter would look like the following.

/\* counter type definition */
extern_t

[2015-10-19 17:46] chkim4142 opened #5 "[prototyping] Blackbox (tentatively called)"
- compiler frontend
- behavioral model
- reference P4 program
- specific constructs to model as blackbox types

[2015-10-19 17:57] chkim4142 opened #6 "[prototyping] Parser metadata handling"
This will enable TLV-style header parsing.
- Use a metadata instance to keep track of # of bytes extracted or to extract
- Allow arbitrary expressions in set_metadata() source argument. This way, one can modify the value of a metadata during parsing.

Code example:
[ipv4_options_parser_setmetadata.pdf](https://github.com/p4lang/p4-spec/files/16228/ipv4_options_parser_setmetadata.pdf)

[2015-10-19 20:14] chkim4142 opened #7 "[prototyping] Action parameter types and directionality annotations"
Require types on action parameters
 ○ Parameters have directionality
   ■ in: May not be modified, can be a constant or other non-L-value
   ■ out: May be modified, implied to be uninitialized
   ■ inout: May be modified, already initialized with data
 ○ Use syntax similar to header field declaration

action foo (inout header ipv4_t ipv4, in bit<32> new_dst_addr)
{
     modify_field(ipv4.dstAddr,

[2015-10-20 05:48] chkim4142 opened #8 "[design + prototyping] Strong typing"
Address all the undefined behaviors regarding P4 types.

Problem statement and solution proposal:
[p4-strong-typing-mihai.pdf](https://github.com/p4lang/p4-spec/files/16571/p4-strong-typing-mihai.pdf)

[2015-10-20 05:58] chkim4142 opened #9 "[spec] Sequential execution semantics"
Compound action execution semantics should be sequential. Each target can support a certain maximum-length dependency chain in each compound action. If a compound action violates such a max dependency chain length, the compiler for the target must detect it and generate a compiler-time error.

If a target does have a parallel execution support, its compiler can infer parallelism where possible and

[2015-10-20 06:03] chkim4142 opened #10 "[spec] v1.1 spec writing"
We'll need to update the v1.1rc to produce the official v1.1 spec.

Keep only officially-approved features in the spec
- Blackbox (consider renaming)
- TLV header parsing  --> change to Sec. 4
- Sequential execution semantics --> change to Sec. 7.1.1
- Stronger typing --> a new section?
- Having modify_field() take expressions --> change to Sec 12.1
- “direct” lookup semantics --> change to Sec. 8

[2015-10-20 06:12] chkim4142 opened #11 "[spec and prototyping] Allow modify_field() to take an expression as the source argument"
Instead of introducing several primitive actions for various types of arithmetic operations, we've decided to allow modify_field() to take an expression as a source argument.

[2015-10-20 06:15] chkim4142 opened #12 "[design] Define concepts and constructs for architecture modeling"
Figure out ways to embrace architectural heterogeneity.

The whitebox approach can offer some food for thoughts.

See slide 3:
[v1.1rc1 Review (09-14-15).pdf](https://github.com/p4lang/p4-spec/files/16587/v1.1rc1.Review.09-14-15.pdf)

See v1.1-rc Section 10 as well. https://github.com/p4lang/p4-spec/blob/v1.1rc-barefoot/tex/p4.pdf

[2015-10-20 06:27] chkim4142 opened #13 "[design] Define the standard architecture model (aka Standard Model)"
Portability will be critical for P4's long-term success. While we all admit complete portability is an impractical goal, it'd be crucial to try to maximize the commonalities across different target architectures and hence achieve ease of porting.

Unfortunately target vendors (understandably) can't afford to share the full details of their target architecture. Yet, we need to be able to help poten

[2015-10-20 06:28] chkim4142 opened #14 "[design] Define common API generation framework"
[Goals]
- Language neutrality
- Clarity on relations between objects

[Scope]
- P4 object API

[Potential Approaches]
- Schema vs. IDL

[2015-10-26 06:22] chkim4142 opened #15 "[design] Capability to populate table entries at compile time in P4"
Should P4 allow populating tables at compile time? If yes, should such a table be read-only to the control plane at run time?

[2015-10-27 04:09] #4 closed, assigned to nobody

[2015-10-27 04:09] chkim4142 opened #16 "[design and prototyping] Introduce the "direct" table lookup semantics"

[2015-10-27 22:10] chkim4142 opened #17 "[design] Support for incremental parsing"
There has been concerns that allowing any parsers or control flows to call any other parsers or control flows (irrespective of whether they belong to ingress or egress) might lead to a P4 coding style that is supportable only a certain type of machines. If we want P4 to be widely applicable, we should error on the conservative side.

To enable both pipeline-style targets and CPU/NPU-style targets,

[2015-10-28 18:32] haoyusong opened #18 "[design] support Union type"
Some header and metadata may need to reuse the same type with different format for different purpose. An example is that for memory and bandwidth efficiency, the metadata prefers to use an union type based on context to save the amount of data that need to be passed between different modules. The union type can also be used to describe packet headers, for example a big packet header containing L3

[2015-10-29 20:36] chkim4142 opened #19 "[prototyping] support for new typing syntax"
For v1.1 we proposed a new typing syntax. Instead of using just the field length in bits, we introduced bit<>, varbit, int, and void.

It seems we'll need to do the followings.
- Make the v1.1 compiler take the new type syntax (per v1.1-rc) only
- Let people start using the new syntax upon the release of v1.1 spec. We should officially deprecate the old syntax.

[2015-10-29 22:58] chkim4142 opened #20 "[spec] Document the way current compiler generates the API"
We need to document how the current API generation works. Then we can review and improve it.

[2015-11-04 22:47] chkim4142 opened #22 "[design] Support for default-action specification at compile time in P4"
Expected benefits:
- Can generate a very basic, working (not necessarily fully effective) P4 program at compile time in P4 only
- Improves readability

[2015-11-18 05:52] chkim4142 opened #23 "[spec] Publishing the addendum for v1.1"
Include the draft ideas for whitebox and standard library.

[2015-12-20 07:45] chkim4142 opened #24 "[feature] modeling tables that could share the same match entries"
[From Peter's original email]

Something we do fairly often in packet forwarding is lookup both the source address and the destination address in the same match table. We will take different actions in the case of a hit but we use a single match table. For example, in IPv4 we will lookup the destination address for forwarding and the source address for a reverse path forwarding security check.

In

[2016-01-18 23:03] chkim4142 opened #25 "[feature] modeling packet generator"
why and what?

[2016-02-03 18:47] chkim4142 opened #26 "[proposal] proposal for consideration for P4_16"
[planningP4v12 - Mihai.pdf](https://github.com/p4lang/p4-spec/files/116177/planningP4v12.-.Mihai.pdf)

This is the file presented by Mihai on Feb/1.

[2016-02-29 03:47] akeep opened #28 "Corrections & missing items in P4 1.1rc spec"
There are a few missing items in the P4 1.1 rc spec that should either be addressed in the 1.1 final spec, or added as addendum to the 1.1 final.  These suggestions are a mix of features implemented in the current implementation but not listed in the spec and features used in examples (including the textual example in the 1.1 RC document).
- the mtag-edge.p4 example program includes expressions in

[2016-02-29 03:52] akeep opened #29 "Request for examples"
A handful of features of both the 1.0.2 and 1.1 rc1 spec do not have any example programs to show how they should be used.
- Features unused from both versions of the spec:
  1. There are no `parser_exception` declarations
  2. There are no explicit returns to `parse_error`
  3. There are no uses of `parser_value_set`
  4. There are no examples of the `hit` or `miss` cases in any table `apply` sta

[2016-03-06 02:22] #28 closed, assigned to nobody

[2016-07-08 03:25] jblazquez opened #30 "[spec] New wording for the preprocessing section"
This is a proposal for the definition of a new source code preprocessing behavior that obviates the need to use an actual C preprocessor over P4 source files prior to compilation. This wording would replace the contents of the **8.2 Preprocessing** section of the spec.

The most important change here is replacing the **#include** directive with a new **#import** directive that behaves somewhat dif

[2016-08-11 16:55] #23 closed, assigned to nobody

[2016-08-11 16:57] #10 closed, assigned to nobody

[2016-08-15 21:12] blp opened #31 "P4-16 draft section 5 should mention deparsers"
The P4-16 draft spec, section 5, lists the core abstractions of P4.  I suggest that it should mention deparsers.

[2016-08-16 02:44] blp opened #32 "P4 2016 draft: inconsistent use of semicolons after declarations"
At least in the sample P4 program in section 7.1, some top-level P4 syntax elements end with semicolons, and some do not.  At least from this C programmer's perspective, it is going to be difficult to remember which ones take semicolons and which ones do not.  I hope that, if semicolons are not required after particular declaration elements, they are at least allowed, so that a programmer who alwa

[2016-08-16 03:02] blp opened #33 "P4 2016 draft: ttl handling in simple switch"
It appears to me that the simple switch will happily decrement TTL 0 to become TTL 255. This seems like surprising behavior to me, even in such a simple implementation.

[2016-08-16 20:07] blp opened #34 "P4 2016 draft: how to include core library"
Section 8.2.1 says that every P4 program must include the core library, but it doesn't say how.  It appears from examples that one should do this with:

`#include "core.p4"`

which is a little surprising since usually in C standard headers are included with <>, e.g.

`#include <core.p4>`

Perhaps 8.2.1 should recommend a syntax.

[2016-08-16 20:12] blp opened #35 "P4 2016 draft: are string literals ASCII or UTF-8?"
Section 8.3 says:

Appendix 23 says:

Which is correct?

(Furthermore, by saying that comments and string literals are always UTF-8, does this mean that UTF-8 is the only valid encoding for P4 source files?  In a C context, this could be a claim about the execution character set, not the source character set, but of course P4 doesn't have an execution character set.)

[2016-08-16 20:19] blp opened #36 "P4 2016 draft: potential for octal constant confusion"
It's going to be somewhat surprising to C programmers that 0377 has value 377, instead of 255.  In section 8.3.2, I'd consider either forbidding leading zeros on decimal literals (that is, other than 0 itself), or providing an example at the end, e.g.:
`0377       // a *decimal* integer with value 377 (not 255!)`

[2016-08-16 20:35] blp opened #37 "P4 2016 draft: definition of path and path prefix"
Section 8.6 "Paths" talks about paths but never defines one.  Perhaps it should.

There is no definition in the grammar for a path. The intended definition of a path is actually somewhat unclear to me.  Perhaps a path is a path prefix followed by an identifier, but because of the definition of a path prefix that means that every path has at least one dot in it. It looks to me like every reference

[2016-08-16 20:55] #33 closed, assigned to nobody

[2016-08-16 21:01] blp opened #38 "P4 2016 draft: value of -8w10"
In C, this program prints 246:

[code]

The table in section 9.1.6.6 says that, in P4, -8w10 has the value 245, though.  Is this a typo?

[2016-08-16 21:06] blp opened #39 "P4 2016 draft: meaning of 1s10"
Section 9.1.6.3 says that signed integers must have a width greater than 1.

Section 9.1.6.6 says that an `s` prefix indicates a signed integer.

The table in section 9.1.6.6 gives an example for 1s10 and says that it's an unsigned integer with value 0.  I think that it should be a syntax error since the `s`-prefix means a signed integer and section 9.1.6.3 forbids 1-bit signed integers.

[2016-08-16 22:19] blp opened #40 "P4 2016 draft: integer division is actually well-defined in C"
Section 10.6 says:

but this is incorrect.  The ISO C standard for C, 2011 edition, defines division clearly and unambigiously as the following in section 6.5.5 "Multiplicative operators" (this has only been clarified slightly since the 1999 edition):

It's one thing if P4 doesn't want to define this but it shouldn't make incorrect claims about the C language.

Even if we don't want to define divi

[2016-08-16 22:33] blp opened #41 "P4 2016 draft: nonsensical cube expressions?"
Section 10.11.3 doesn't say anything about nonsense cube expressions, that is, ones where bits are set in the value but not in the mask, such as `8w8 &&& 8w7`.  According to the definition provided, such an expression is equivalent to `8w0 &&& 8w7`, but it might be worth making the meaning implementation-defined or undefined since it doesn't make much sense to have a 1-bit in the value but a 0-bit

[2016-08-16 22:39] blp opened #42 "P4 2016 draft: naming of methods for header stacks"
Section 10.14 describes two methods named "push_front" and "pop_front" for header stacks but suggests that they be renamed using "shift".  I'd support that: "unshift" and "shift" match the naming for similar operations in Bourne shell and Perl.

[2016-08-16 22:53] blp opened #43 "P4 2016 draft: pass-by-reference vs. pass-by-copy-in-copy-out"
The draft states in a couple of places that arguments are passed with copy-in, copy-out semantics.  This surprises me a little for a language aimed at targets with limited memory resources, since some of the arguments that are likely to be passed are relatively large headers or perhaps entire packets (e.g. Parsed_packet in the example in section 7.3).  Of course, pass-by-reference is **usually** e

[2016-08-17 15:08] blp opened #44 "P4 2016 draft: parserLocalElements"
Section 13.2 "Parser declarations" gives the definition of parserLocalElement but not parserLocalElements.  Though the reader can jump to the appendix, it would be kind to copy its definition into 13.2.

[2016-08-17 21:18] #22 closed, assigned to nobody

[2016-08-17 21:20] #16 closed, assigned to nobody

[2016-08-17 21:21] #26 closed, assigned to nobody

[2016-08-30 20:48] #19 closed, assigned to nobody

[2016-08-30 20:52] #17 closed, assigned to nobody

[2016-08-30 20:57] #11 closed, assigned to nobody

[2016-08-30 20:57] #9 closed, assigned to nobody

[2016-08-30 20:59] #3 closed, assigned to nobody

[2016-09-07 18:19] jnfoster opened #45 "P4 2016 draft: verify"
The current specification describes the `verify` function as coming from the architecture (9.2.5.3) and as a built-in function (13.7).

It seems to me that as currently used, it should really be part of the main language and cannot be defined by the architecture. First, the functionality required is extremely simple (evaluate a boolean expression and set an error if false). Second, when a call to

[2016-09-07 19:12] jnfoster opened #46 "P4 2016 draft: parser loops and Turing completeness."
I'm finding section 13.11, which discusses parser loops a bit confusing. Reactions from @mbudiu-vmw and @blp appreciated.

The section starts with the following observation, which is useful for compiler writers:

This is certainly true, but loops can also arise in examples that don't involve header stacks. For example, the [TLV_parser.p4](https://github.com/p4lang/tutorials/tree/master/examples/TL

[2016-09-07 19:29] jnfoster opened #47 "P4 2016 draft: Invoking sub-parsers"
Section 13.10 mentions that sub-parsers can be invoked similar to subroutines. It's unclear what happens when the call graphs of such parser invocations involve cycles. For example, if they are like subroutines there a run-time stack to keep track of local variables etc.? This can't be what's intended...

See also the related issue #46.

@blp @mbudiu-vmw

[2016-09-10 17:31] anirudhSK opened #48 "[design] Concurrency model for P4"
P4 lacks a formal concurrency model. I can see at least two scenarios that demand such a model.
1. Interactions between the control and data plane: What happens when the controller changes a table entry while a packet is being processed in the data plane?
2. Interactions between multiple packet processors in the data plane: These packet processors could be match-action tables, pipelines, or cores.

[2016-09-12 21:23] #5 closed, assigned to nobody

[2016-09-12 21:24] #38 closed, assigned to nobody

[2016-09-12 21:24] #39 closed, assigned to nobody

[2016-09-12 21:40] #6 closed, assigned to nobody

[2016-09-12 21:43] #44 closed, assigned to nobody

[2016-09-13 08:53] mihaibudiu opened #49 "Sections 2, 3, 4 in the spec are incomplete"

[2016-09-13 09:00] mihaibudiu opened #50 "P4 2016 draft: error namespace"
Should errors be in a separate namespace?
I.e., should we write
error.NoError
instead of
NoError
?

[2016-09-13 10:04] mbudiu-vmw opened #51 "P4 2016 draft: named field lists"
The p4-16 language does not have anything equivalent to named field lists.

[2016-09-13 10:08] mihaibudiu opened #52 "P4 2016 draft: varbit field size"
There is no way to specify the size of a varbit field equivalent with the P4-14 syntax, where the size of the field is computed from other header fields.

[2016-09-13 10:12] mihaibudiu opened #53 "P4 2016 draft: function call by naming parameters"
Should function calls with parameters out of order be allowed, by naming parameters explicitly?

eg: f(a = 2, b = c.h);

[2016-09-13 10:14] mihaibudiu opened #54 "P4 2016 draft: reserved annotation names"
We should reserve some annotation names for compiler and library authors.

[2016-09-13 10:15] mihaibudiu opened #55 "P4 2016 draft: parser <-> control calls"
The language allows parser to instantiate controls and vice-versa; we need to provide a semantics for these constructs. Issues include: the meaning of exit, and the handling of parserError.

[2016-09-13 16:55] jnfoster opened #56 "P4 2016 draft: default vs. _ (aka DONTCARE)"
Section 8.3 defines `_`, (aka the DONTCARE terminal):

Meanwhile, Section 10.11.2 defines the `default` expression:

It's worth considering eliminating `default` and use `_` to indicate the universal set.

[2016-09-13 17:00] jnfoster opened #57 "P4 2016 draft spec: tuples in set context"
Section 10.11.5 says

It's unclear what this means. I think what is intended is that each element of the tuple denotes a set and the overall set described by the tuple is the Cartesian product of the sets described by the elements.

But the compiler rejects (actually throws an error) when `default` is used inside of a tuple. Instead, one has to write a silly cube expression like `0 &&& 0`.

We sho

[2016-09-13 17:13] jnfoster opened #58 "P4 2016 draft spec: `switch` vs. `select`"
P4 includes both `switch` statements (Section 12.7) and `select` expressions (Section 13.6). There are real differences in the current incarnation of the language -- expression vs. statement, and the latter must evaluate to a state value.

This is potentially a big change, but it's worth asking if these should be merged into a single construct. Generally speaking, I think programmers would benefit

[2016-09-13 17:36] jnfoster opened #59 "P4 2016 draft spec: tuple types and tuples"
Sections 9.2.5.1 defines tuple types, which are used by the compiler during type checking (e.g., for `extern` functions). Section 10.11.5 defines tuples, which are used in `select` expressions.

Neither of these can be directly used by the programmer (although there is a comment from Mihai suggesting that perhaps they should be exposed).

This seems like a good change to me. It increases the compl

[2016-09-13 17:51] jnfoster opened #60 "P4 2016 draft spec: in/out annotations, tuples, and calling conventions"
I've heard that the reason for in/out annotations on function parameters is that P4 does not have tuples, so it would be somewhat clumsy to write functions that return multiple values -- one would need to declare `struct`s for every combination, which quickly gets tedious.

However, adding `in`, `out`, and `inout` annotations (#7) leads to significant complications elsewhere: we have to worry abou

[2016-09-13 18:12] jnfoster opened #61 "P4 2016 draft spec: partial application and phase distinctions"
Some parameterized entities take multiple arguments, some supplied at compile-time, some supplied at run-time, and some supplied by the control plane. For example, the very simple switch example includes the following declaration,

[code]

which is later partially applied in a table as:

[code]

There are several issues:
- Generally speaking, phase distinctions (https://en.wikipedia.org/wiki/Phase

[2016-09-13 18:25] jnfoster opened #62 "P4 2016 draft spec: compile-time X"
The specification mentions "compile time" and "compile-time X"  multiple times -- at least several dozen -- but it's not clear to me precisely what is intended. Section 18.1 seems like an attempt to capture this but the meaning is still not clear to me.

More specifically, in various places the spec mentions:
- "compile-time expression"
- "compile-time constant"
- "compile-time constant expression

[2016-09-13 22:58] jnfoster opened #63 "P4 2016 draft spec: Minor inconsistency in definitions of Checksum16"
The specification gives three different definitions of `Checksum16`, one in Section 7.1, another in Section 6.4, and yet another Appendix 22. These definitions are not identical.

[2016-09-13 23:11] jnfoster opened #64 "P4 2016 draft spec: Very Simple Switch example bugfixes"
The Very Simple Switch Example in Sections 7.3 had some typos and so did not compile.
- `Ipv4Address` should be `IPv4Address`
- `CPU_PORT` should be `CPU_OUT_PORT` (I assume?)
- `TopDeparser` assigns to `p.ip.hdrChecksum`, which is illegal since `p` is an `in` parameter. I added a local variable of type `Ipv4_h`. One could instead make the parameter `inout`.  I'm not sure which is better.

I attac

[2016-09-13 23:17] vgurevich opened #65 "parser_value_set equivalent"
P4-14 has a parser_value_set construct that encapsulates a set of values that can be specified at run-time by the control plane and used to choose parser state transition (Section 5.3 page 38 in P4 spec v1.0.2)

For example, for programmable TPIDs one would do something like this:

parser_value_set tpids;

parser parse_ethernet {
    extract(ethernet);
    return switch(ethernet.ethertype) {

[2016-09-13 23:30] jnfoster opened #66 "P4 2016 draft spec: package instantiation"
I think it should be illegal to use `packet_in` functionality in the deparser, at least in the very simple switch architecture. One might think this is enforced by declarations such as the following,

[code]

and

[code]

and

[code]

Note that `packet_in` is only provided as a parameter to `Parser` and not to the `Pipe` and `Deparser` components of `VSS`.

However, the current compiler allows me

[2016-09-14 18:54] #8 closed, assigned to nobody

[2016-09-20 02:57] smolkaj opened #67 "P4 2016 draft: subtraction is not associative"
The 2016 draft currently states in Section 10.5 that subtraction of unsigned integers is "an associative operation." That's not the case.

[code]

`>> 0 != 2`

[2016-09-21 18:19] smolkaj opened #69 "P4 2016 draft: small typo"
In the table in Section 10.8.3 (Illegal arithmetic expressions), there is a typo in the row

It should be **sign** instead of **size**.

[2016-09-21 18:28] smolkaj opened #70 "P4 2016 draft: cube"
What's referred to as a "cube" in Section 10.11.3 (Cubes) is more precisely called a hypercube: https://en.wikipedia.org/wiki/Hypercube

[2016-09-23 18:33] smolkaj opened #71 "P4 2016 draft: missing type arguments"
The example in Section 17.2: "Target Program Instantiation" seems to be missing some type arguments:

[code]

should be

[code]

as far as I understand.

[2016-09-23 20:57] smolkaj opened #72 "P4 2016 draft: keyword list incomplete"
"Appendix 20: P4 reserved keywords" does not currently include `match_type`.

[2016-09-26 16:16] #36 closed, assigned to nobody

[2016-09-26 19:57] #29 closed, assigned to nobody

[2016-09-26 19:58] #24 closed, assigned to nobody

[2016-09-26 19:59] #12 closed, assigned to nobody

[2016-09-26 19:59] #7 closed, assigned to nobody

[2016-09-26 20:40] #71 closed, assigned to vgurevich, mihaibudiu

[2016-09-26 20:42] #69 closed, assigned to mihaibudiu

[2016-09-26 20:42] #67 closed, assigned to mihaibudiu

[2016-09-26 21:55] #45 closed, assigned to blp

[2016-09-26 23:50] #53 closed, assigned to mihaibudiu

[2016-09-28 17:06] #70 closed, assigned to mihaibudiu

[2016-09-29 16:17] chkim4142 opened #73 "making cost explicit"
One of the nice things about P4_14 is that it makes the cost model (i.e,. resource consumption) of a P4 program quite explicit. Whenever one creates a table, defines an action, introduces a branch condition in the control flow, or even invokes a primitive action in an action body, P4_14 makes the cost consumption quite conspicuous, encouraging the P4 writers to make conscious efforts to write a re

[2016-09-29 20:09] #46 closed, assigned to blp

[2016-09-30 23:35] smolkaj opened #74 "[proposal] using prototypes & forward declarations for target architecture descriptions"
I think that standard C-style [prototypes](https://en.wikipedia.org/wiki/Function_prototype) and [forward declarations](https://en.wikipedia.org/wiki/Forward_declaration) could be used to great effect in P4 for target architecture descriptions. Let me demonstrate by example:

[code]

Above you see part of `v1mode.p4`. It specifies which components must be implemented by the programmer to obtain a

[2016-10-01 05:35] #64 closed, assigned to jnfoster

[2016-10-01 06:22] jnfoster opened #75 "default constructors for extern objects"
Currently the architecture cannot control which extern objects are instantiated by the P4 program, since the compiler introduces a default constructor for each extern. We should remove this (as proposed by @mbudiu-vmw in #66) to allow finer-grained control.

For example, if `packet_in` and `packet_out` do not have constructors then the architecture can ensure that they are supplied to the parser a

[2016-10-01 06:23] #66 closed, assigned to ChrisDodd

[2016-10-01 06:31] jnfoster opened #76 "more explicit control plane / compile-time known arguments"
Currently the syntax for control plane arguments is quite subtle -- e.g., in an action, any arguments without `in`, `out`, or `inout` annotations is either a compile-time known value or populated by the control plane.

To help programers, I think we should consider making this more explicit. Two proposals have been discussed. I will illustrate with an action snipped from the very simple switch exa

[2016-10-01 06:33] #61 closed, assigned to jnfoster

[2016-10-05 07:40] #34 closed, assigned to gbrebner

[2016-10-05 15:12] #31 closed, assigned to blp

[2016-10-05 17:33] #42 closed, assigned to mihaibudiu

[2016-10-05 18:03] #41 closed, assigned to mihaibudiu

[2016-10-05 20:05] jnfoster opened #77 "[P4-14 draft spec] Namespaces and visibility."
Section 8.7.2 (Visibility) states

Three issues:
1. Should we drop "Currently"? It seems to imply that this might change in the future.
2. What does "private" mean? One reading is that the declarations are not accessible from outside of the namespace. But this can't be the intention because Section 10.2 (Expressions on enum values) shows an enum being referenced from outside of the namespace assoc

[2016-10-05 21:29] #47 closed, assigned to blp

[2016-10-05 23:01] #75 closed, assigned to jnfoster, mihaibudiu

[2016-10-06 16:40] #50 closed, assigned to gbrebner

[2016-10-06 20:25] #37 closed, assigned to gbrebner

[2016-10-07 00:39] smolkaj opened #78 "[P4 2016 draft] prototypes"
The current specification mentions in several places that the programmable blocks of a target architecture are specified using **prototypes** (p12: "prototype declaration", p14: "function prototypes", p15: "prototypes for all programmable blocks", ...). However, these "prototypes" are not currently prototypes [in the sense of C/C++/Java](https://en.wikipedia.org/wiki/Function_prototype) or any oth

[2016-10-07 02:24] smolkaj opened #79 "[P4-16 draft] parser cannot read extracted information"
Both the current P4-16 spec and `v1mode.p4` declare the headers write-only in the parser:

[code]

Thus the following example from the spec (p.20) does not type check:

[code]

First extracting information from a packet and then transitioning based on that information seems to be a common pattern, so maybe this should be changed not only in the spec but also in `v1mode.p4`?

[2016-10-07 04:55] #79 closed, assigned to nobody

[2016-10-07 20:04] anirudhSK opened #81 "Support for local externs"
Certain extern instances (such as parser checksums) are local to a specific instance of the parser, i.e., there is logically one separate checksum unit for each packet that is processed independently by the parser.

Right now, P4 doesn't support such local externs because all externs instances are constructed globally at compile time.

[2016-10-07 22:07] #40 closed, assigned to mihaibudiu

[2016-10-09 22:48] akeep opened #82 "P4 spec editorial comments (typos etc.)"
The following editorial comments were started on the Sept. 26th version of the spec. document, but I've updated the line numbers (and removed a few things that were already caught) based on the Oct. 7, 2016 spec.  I've not yet had a chance to review the Oct. 7th spec changes.
## Editorial comments around usage, wrong-words, etc.
- Pg. 13, Section 7, first paragraph, last sentence, should be "...,

[2016-10-09 22:59] akeep opened #83 "Should the drop extern be in the core library?"
I recently had a conversation with a colleague here at Cisco about the various ways we might represent the "drop" primitive action from P4 14.  I had mentioned the spec discussed having a drop port, but not a drop action, and he was surprised that drop wasn't a part of the spec or the core library since it is such a fundamental action in a data plane.

I noticed it is a part of the `v1model.p4` ar

[2016-10-09 23:08] akeep opened #84 "[Proposal] Structural iteration"
One of the patterns I've noticed in some of the P4 14 examples is to use a C-pre-processor define to specify the length of a header stack.  This is a convenient way to declare header stacks, but it means that code that needs to operate over explicit indexes within the header stack need to be protected by C-pre-processor `#if/#elif/#endif` constructs, or the C-pre-processor definition for the lengt

[2016-10-10 00:28] akeep opened #85 "Parsing TLV-style options (e.g. IPv4 options)"
The current state of the art for parsing things like IPv4 option headers is a
bit limited.  The current state of the art looks something like:

[code]

This code is problematic in two ways.  First, for compilers that need to unroll
the parser graph, since the options can appear in an arbitrary order from the
perspective of the parser, it leads to an explosion of parser states in the
unrolled graph

[2016-10-10 16:43] #52 closed, assigned to gbrebner

[2016-10-10 17:30] mihaibudiu opened #86 "Remove some annotations from spec"
Should we remove Section 19.1.1.2 Legacy support annotations from the spec?

[2016-10-10 20:32] #62 closed, assigned to jnfoster, vgurevich, mihaibudiu

[2016-10-10 20:33] #72 closed, assigned to mihaibudiu

[2016-10-13 15:02] #83 closed, assigned to ChrisDodd

[2016-10-13 18:32] #56 closed, assigned to gbrebner, mihaibudiu

[2016-10-14 18:02] #35 closed, assigned to gbrebner, mihaibudiu

[2016-10-14 18:09] #82 closed, assigned to nobody

[2016-10-14 18:16] gbrebner opened #87 "Name should be "P4_16", not "P4-16""
When the new naming for P4 was decided, the intention was that it would be "P4_16" (maybe written sometimes as "P4" with a subscript "16").  However, the spec has "P4-16" throughout, and also "P4-14" rather than "P4_14".

[2016-10-17 19:39] #57 closed, assigned to mihaibudiu

[2016-10-20 17:01] #87 closed, assigned to gbrebner

[2016-10-20 17:51] #43 closed, assigned to jnfoster

[2016-10-21 19:53] smolkaj opened #88 "[p4-16] invoke one control block within another?"
Does P4-16 allow the invocation of a control block from within another control block, like so:

[code]

? This used to be possible in P4-14. Either way, `p4c` gives me a strange error message:

[code]

I'm a little surprised this is a **syntax** error, given that it is perfectly fine to invoke an action within a control block, using **the exact same syntax**. In particular,

[code]

is legal. I as

[2016-10-21 20:52] smolkaj opened #89 "[p4_16] match on validity bit?"
Can tables in P4_16 match on header validity bits? In particular, how does the following P4_14 code fragment translate to p4_16?

[code]

Would I have to introduce a new `match_kind`?

[2016-10-21 21:53] #88 closed, assigned to nobody

[2016-10-22 00:59] cc10512 opened #90 "markup version of the spec"

[2016-10-24 20:55] #78 closed, assigned to nobody

[2016-10-24 21:11] #90 closed, assigned to cc10512

[2016-10-24 21:43] #48 closed, assigned to anirudhSK, chkim4142

[2016-10-24 21:49] #86 closed, assigned to mihaibudiu

[2016-10-24 21:54] #54 closed, assigned to chkim4142

[2016-10-24 22:43] #89 closed, assigned to nobody

[2016-10-25 00:27] #55 closed, assigned to blp

[2016-10-26 17:47] #63 closed, assigned to mihaibudiu

[2016-10-26 18:05] #30 closed, assigned to gbrebner

[2016-10-26 19:37] #85 closed, assigned to blp, mihaibudiu

[2016-10-27 21:53] cc10512 opened #96 "automate generated spec publishing"
add make (and .bat?) rules to publish the generated spec

[2016-10-27 23:42] #96 closed, assigned to nobody

[2016-10-31 19:09] cc10512 opened #98 "action profile sharing support"
We would like to explore support for sharing action profiles, as supported in P4-14. For example,
[code]

[2016-11-02 17:38] ChrisDodd opened #99 "Annotation syntax"
The current annotation syntax is fairly limited

    annotation:  '@' name [ '(' expression ')' ]

that is, a single identifer with an optional single expression argument.  Java annotations (which these are base on) are both different and more flexible:

    annotation: '@' name [ '(' [ annotation_element_list ] ')' ]
    annotation_element: annotation | expression | name '=' expression

that is,

[2016-11-08 00:09] #81 closed, assigned to nobody

[2016-11-18 20:06] #73 closed, assigned to jnfoster, ChrisDodd, chkim4142, gbrebner, mihaibudiu

[2016-11-23 18:07] #77 closed, assigned to jnfoster, ChrisDodd, mihaibudiu

[2016-11-27 21:55] #20 closed, assigned to nobody

[2016-11-27 21:58] #49 closed, assigned to vgurevich

[2016-12-01 22:01] smolkaj opened #107 "[enhancement] Allow specifying action names in table"
The heart of this proposal is to extend the syntax used to specify the actions of a table, so that action names can be specified at "use-site" rather than "declaration-site".
Assume we have declared a few actions:
[code]
With the new syntax, the action list of a table would then be specified as follows:
[code]
The old syntax
[code]
continues to be legal and desugars to
[code]
~~This makes this pro

[2016-12-05 23:01] sethfowler opened #110 "Clarify syntax for binding parameters in default actions"
Section 13.2.1.3 describes default_action, and discusses the necessity of providing a constant value for each of the control-plane bound parameters the action accepts. The syntax here is a bit confusing and could use some clarification.

The issue is that control-plane-bound parameters are required per section 13.1 to be located at the end of the parameter list. In section 13.2.1.3, we're told tha

[2016-12-07 00:38] sethfowler opened #112 "Explain the usage of '_' as a type argument"
We should explain the meaning of '_' as a type parameter. It's allowed in the grammar and used in the example in Section 16.1 of the P4 16 spec, but I don't see it explained anywhere.

Nate suggested that this belongs in Section 8.2.8.

[2016-12-14 17:04] mihaibudiu opened #113 "The pdf version does not differentiate various styles"
The html version uses cyan and green backgrounds for various kinds of code (grammar, pseudo-code), but this does not work in the pdf version.

[2016-12-17 01:11] #113 closed, assigned to nobody

[2016-12-19 16:26] #112 closed, assigned to jnfoster

[2017-01-11 19:53] cc10512 opened #119 "PSA: problem definition"

[2017-01-11 22:02] jnfoster opened #120 "Typo in P4-14 grammar"
Discovered by UIUC folks doing a K formalization: `value` should be `const_value`.

[2017-02-01 19:43] smolkaj opened #123 "[enhancement] boolean header fields"
Boolean metadata is extremely common in switch.p4. To exemplify, here is an excerpt from the `l3_metadata` header:
[code]
Although P4_16 features a primitive type `bool` with standard boolean operations, it is actually illegal to use booleans as header fields (see also p4lang/p4c#272). This seems like an arbitrary and unnecessary restriction, and forces programmers to write:
[code]
or
[code]
inste

[2017-02-28 19:39] cc10512 opened #124 "[proposal] constant table entries"
add section for constant table entries

## Goal
- Express a set of table entries in the P4 source
   - There are instances when tables are either constant (immutable) or have a set of pre-defined entries (either immutable or mutable) that the P4 programmer should be able to express.
   - Having these entries expressed in the P4 program allows the compiler to make better placing decisions

## Propo

[2017-03-13 17:14] cole-barefoot opened #125 "[proposal] Streamlining P4_16"
P4_16 improves on P4_14 with several features that are clear, home-run wins: types, scoping, externs, architectures, and the ability to apply actions and control flow directly in apply blocks of controls, rather than requiring a new table be created.

Types and scoping, in particular, allow for a form of code reuse across projects: I can write a single implementation of a common mechanism, eg. IPv

[2017-03-22 02:03] cole-barefoot opened #128 "Deparser example is incorrect?"
The [example](https://github.com/p4lang/p4-spec/blob/master/p4-16/spec/P4-16-draft-spec.mdk#L3523) in *Section 14: Packet construction (deparsing)* shows a control that invokes the `emit` method of the `packet_out` extern at the top level, not in an `apply` block.

Is it valid P4_16 syntax to have method calls outside the apply block in a control?  If not, the example in Section 14 should be chang

[2017-03-24 00:25] cole-barefoot opened #129 "[proposal] Syntactic sugar for constructors"
# Problem

Names of parser/control definitions and instances must be distinct.  When a definition is instantiated only once, this leads to boilerplate code in the beginning of a block:

[code]

For large programs, eg. switch.p4, there may be many controls instantiated once in a top-level control, and the list of control instantiations---with names like "do_X"---can be quite long.

This example use

[2017-03-24 00:49] cole-barefoot opened #130 "[proposal] Remove table parameters"
## The problem

Every table must be defined within a control, and control parameters are in scope in table definitions.  Therefore, why also have table parameters?

### Where are table parameters used?

There are two cases where table parameters are used.  First, to introduce a temporary variable in the apply block, after the tables have been defined.  For example, the VSS sample in the spec does

[2017-03-24 01:09] cole-barefoot opened #131 "[proposal] Remove generics from parsers/controls"
## The problem

It's unclear how to use the ability to define generic parsers and controls as currently defined.  Consider the following control.

[code]

Because the type parameter `T` can range over any type, the only operations available on terms of type `T` are those operations defined for *every* type.  In practice, that includes:
* assigning `foo` to another variable of type `T`, and
* passi

[2017-03-24 16:26] jafingerhut opened #132 "[proposal] fix some typos, wording changes for more natural English"
Also some syntax fixes in the first sample P4 program.  I would have liked to open a pull request for this, and I have done that for public repos on Github before with no problems.  However, when I fork this private repo, I don't see it in my list of repos, probably because I only have free Github account, which only allows creation of public repos.

Unless I figure out a different way to get thes

[2017-03-24 19:18] #132 closed, assigned to nobody

[2017-03-24 19:37] jafingerhut opened #134 "Obsolete text in Section 5.2.3 "Demux block" ?"
Section 5.2.3 Demux block

The following paragraph is unclear to me:

    The arrow shown between the arbiter and demux blocks represents an
    additional information flow between arbiter and demux: the packet
    being processed as well as the offset within the packet where
    parsing ended (i.e., the start of the packet payload).

The only arrow I see in Figure 6 "The Very Simple Switch (VSS)

[2017-03-24 19:39] jafingerhut opened #135 "Missing text, or wrong punctuation?"
Section 6.7 "Calling convention: call by copy in/copy out"

The phrase below appears to be incomplete, or the "/" at the end is
perhaps intended to be a period?

    The value of each argument is saved into a temporary/

[2017-03-24 19:41] jafingerhut opened #136 "Should outputHeader parameter to deparser be 'in' or 'inout'?"
Section 5.1 Very Simple Switch Architecture

The Deparser definition has outputHeaders as an 'inout' parameter.  I
can understand 'in', but why also 'out'?  Is it so some
parsed/processed header fields can be sent to the control CPU?

    control Deparser<H>(inout H outputHeaders,
                        packet_out b);

I would recommend changing it to 'in' if that is sufficient, or
explaining why

[2017-03-24 19:44] jafingerhut opened #137 "Is everything in scope actually discussed in this document?"
Section 1. Scope

It says that this document specifies the following things (among others):

    - The mechanism by which input data are delivered to the P4 program
    - The mechanism by which output data, produced by P4 program is delivered to the next consumer

Where are those things specified in the document?  What kind of input
and output data is being referred to here?  Packets in and packet

[2017-03-25 00:49] cole-barefoot opened #138 "[proposal] Require unambiguous names"
There are three parts to this proposal:
1. Extending P4_16 to explicitly assign names to keys.
1. Extending P4_16 to explicitly assign names to actions.
1. Clarifying how control plane names are generated from a P4_16 program.

The dominant motivation is this: Control plane names should be unambiguously derived from the structure of every P4_16 program, but this is not currently the case.

## Prob

[2017-03-25 06:50] jnfoster opened #139 "[proposal] Header Unions"
# Problem

There has been a lot of discussion both in the P4 Language Design Working Group and on the P4 mailing lists about adding unions to P4 -- e.g., see #18 and #85. This proposal presents a design for header unions. It was largely developed by @mbudiu-vmw, who has already added some preliminary support in `p4c`.

# Motivation

The primary reasons for adding unions to P4_16 seem to be as foll

[2017-03-26 17:42] #125 closed, assigned to nobody

[2017-03-26 18:07] jafingerhut opened #140 "Typo and/or missing text at end of Section 11.8.1 "extract — single argument""
The section ends with this text after the pseudocode:

    In this pseducoe

It isn't clear what thought was begun there.

[2017-03-26 18:09] mbudiu-vmw opened #141 "The spec repository is not public"
Why do we have to keep the spec private?

[2017-03-26 19:15] jafingerhut opened #142 "Example illegal default_action looks like it should be legal"
Section 12.2.1.3 "The default action"

The examples for legal and illegal settings of default_action contains
the following two lines:

    default_action = a(5); // OK - no control-plane parameters
    // default_action = a(z); – illegal, a’s x parameter is already bound to 5

If the second line were given all by itself for the example table, it
looks like it should be legal to me.  Why is it mar

[2017-03-27 17:07] #128 closed, assigned to cole-barefoot

[2017-03-28 15:32] #134 closed, assigned to nobody

[2017-03-28 15:33] #135 closed, assigned to nobody

[2017-03-30 22:00] cole-barefoot opened #150 "Global instances"
The issue of global instances---i.e. top-level control or parser instantiation---came up at the LDWG meeting on Monday, March 27th, 2017.

## The Problem

What should the P4_16 spec say about global instantiation, if anything?  Here are some situations to consider.

1. If a control is instantiated at the top level but (a) not used in another control, and (b) not passed as an argument to a package,

[2017-04-01 00:36] mihaibudiu opened #151 "Action calls from parsers"
Can parsers directly call actions?

[2017-04-03 16:32] #140 closed, assigned to nobody

[2017-04-03 21:18] #18 closed, assigned to jnfoster

[2017-04-03 21:18] #15 closed, assigned to nobody

[2017-04-03 21:23] #59 closed, assigned to jnfoster, mihaibudiu

[2017-04-03 21:25] #60 closed, assigned to jnfoster

[2017-04-03 21:26] #110 closed, assigned to nobody

[2017-04-03 21:49] #74 closed, assigned to jnfoster, ChrisDodd, mihaibudiu

[2017-04-03 21:49] #13 closed, assigned to cc10512, ChrisDodd

[2017-04-03 21:52] #98 closed, assigned to vgurevich

[2017-04-03 21:53] #107 closed, assigned to nobody

[2017-04-03 21:55] #123 closed, assigned to nobody

[2017-04-03 21:58] #120 closed, assigned to nobody

[2017-04-05 16:02] jafingerhut opened #157 "Explicitly allow extern object/function declarations outside architecture model files?"
Original discussion copied from this p4c issue, only tangentially related: https://github.com/p4lang/p4c/issues/435

The latest P4_16 draft spec says: "**Extern declarations can only appear in architecture model libraries specific to a target.**"  If architecture model libraries are in #include files, it doesn't seem like there is a very straightforward way for the compiler to enforce that restric

[2017-04-12 21:43] jafingerhut opened #160 "Is default_action required or not?"
The latest spec seems inconsistent on this.  Early in section 12.2.1.3 it says:

    this property [default_action] must be present for all tables.

Later in that same section it says:

    If the user does not specify a value for the default action, the runtime behavior of the
    program is undefined until the control-plane initializes the default_action to one of
    the legal values. The compi

[2017-04-13 03:49] #124 closed, assigned to cc10512

[2017-04-14 22:19] mihaibudiu opened #161 "Types supported by emit"
The spec mentions that emit can handle headers, arrays or structs, but does not say what happens if a bit<X> field is passed as argument.

[2017-04-16 08:47] jafingerhut opened #163 "Why have implicit casts for assignment?"
The code snippet below gives no error or warning from the current compiler, and the spec even implies that it should be OK with the statement: "Implicit casts are allowed ... In assignments when the right-hand side has a different type from left-hand side." (Section 8.9.2 "Implicit Casts"):
[code]
This surprises me quite a bit.  Why do we think programmers will make fewer mistakes of mismatching w

[2017-04-18 19:28] #157 closed, assigned to nobody

[2017-04-18 21:34] jafingerhut opened #168 "Restrict constant tables to all explicit or no explicit priorities across all entries?"
I would guess that when creating a constant ternary or range table, people would adopt one of two possibilities:

+ No explicit @priority annotations for any entry of the table, allowing the order of entries in the code to specify relative priority.
+ Every entry of the table has an explicit @priority statement.

Allowing a mix of some of each seems only to raise questions of precisely what it mea

[2017-04-19 17:17] mbudiu-vmw opened #169 "Unused controls and parsers"
We have flip-flopped on this issue several times.
The core question is the following:

[code]

Are `d` and `dinst` dead code in the previous example or not? In a discussion related to issue #150 we claim that the compiler should never delete an instance, because it could have implications for the control-plane. This means that we have to keep d in the program, even though it can never be invoked.

[2017-04-19 21:34] mbudiu-vmw opened #170 "Assigning a list to a header"
The question is about the semantics of the following statement:

[code]

We have three choices:
- this is illegal
- this assigns the header fields, but does not change the header validity
- this also makes the header valid

I can see very good arguments for all of these options.
One constraint is that it would be nice to have initializers be equivalent semantically to assignments; so we don't want

[2017-04-21 18:24] #130 closed, assigned to nobody

[2017-04-24 07:03] jnfoster opened #172 "Syntax"
The current specification is not very precise on the syntax of the language. The lexical structure is not defined very clearly nor are the conventions needed to disambiguate the grammar.

I'd like for someone to be able to build a front-end just from the spec, without having to consult a reference implementation like p4c.

[2017-04-25 22:28] antoninbas opened #176 "Update the spec version on p4.org"
A lot of people stumble on the P4_16 spec hosted on p4.org (http://p4.org/spec/) which dates back to December (a few things have changed, like table parameters).
Would it be possible to have http://p4.org/spec/ point to http://p4lang.github.io/p4-spec/docs/P4-16-draft-spec.html ?

[2017-04-26 16:32] #161 closed, assigned to nobody

[2017-04-26 17:11] jnfoster opened #177 "legal casts"
Currently we write:

But we allow tuples and lists to be assigned to struct/headers. So it seems that this should be generalized to struct/header/tuple/lists too?

FWIW, the implementation is stricter than I'd expect as a programmer:
https://github.com/p4lang/p4c/issues/529

[2017-05-01 16:43] #141 closed

[2017-05-04 14:52] jnfoster commented on #176
We're going to stick with the current process for updating the official version of the spec, but I will work with Prem to expand the page hosted on p4.org.

[2017-05-04 14:52] #176 closed

[2017-05-06 21:20] TMVector opened #179 "Incorrect `out` parameter on `packet_in.extract`?"
In the spec, [`packet_in.extract`](https://github.com/p4lang/p4-spec/blob/master/p4-16/spec/P4-16-draft-spec.mdk#L2884) has an `out` parameter for the header l-value.
In the first line of the pseudocode body, the `valid$` bit of the header is checked.

[code]

Yet in [6.7](https://github.com/p4lang/p4-spec/blob/master/p4-16/spec/P4-16-draft-spec.mdk#L991), we are told `out` parameters are undefine

[2017-05-06 22:35] mbudiu-vmw commented on #179
Great observation. This is a very good reason to give up on the OverwritingHeader error.

In C sizeof is defined for both types and values, but yes, strictly this applies to the type.

[2017-05-07 18:17] vgurevich commented on #160
I think we need to do the following (as was discussed at the last meeting):

1. If default_action is not specified, let's make the default to be NoAction(). It will also be the default action in case the default_action attribute is  specified in a manner that is not fully resolvable at the compile-time.
   -- The rationale: this is by far the most typical case and we do not want to burden people w

[2017-05-07 18:30] vgurevich opened #180 "lookahead() behavior for the headers with varbits"
extract() method for packet_in has two forms:
1. extract(fixed_header)
2. extract(header_with_varbit_field, legth_of_varbit_field)

The problem is that more often than not, the length of the varbit field is contained inside the same header. For example, this is the case with IPv4. The current examples solve this problem by using two headers to represent an IPv4 header: one for the fixed part and a

[2017-05-07 18:44] mbudiu-vmw commented on #160
You should submit a pull request against the spec with these changes

[2017-05-07 23:00] jnfoster commented on #160
Actually, I believe we agreed on was to take a declarative approach and
specify what should happen (no-op) but not the how.

Here are Calin's notes:

Default actions

Unless I'm mistaken, mandating that the default is "NoAction" is specifying
the how.

Can we just take text similar to what's in the P4-14 spec?

release P4-16. We are past the point of freezing features and need to get
everything na

[2017-05-08 00:00] jnfoster commented on #179
I concur. Let's remove the check, as we already discussed in another thread.

-N

On Sat, May 6, 2017 at 3:35 PM, Mihai Budiu <notifications@github.com>
wrote:

[2017-05-08 00:06] jnfoster commented on #180
[Section 11.8.3](http://p4.org/wp-content/uploads/2016/12/P4_16-prerelease-Dec_16.html#sec-packet-lookahead) states:

So we should clean up the error message but I think the spec is perfectly clear.

-N

[2017-05-08 00:07] jnfoster commented on #180
Will you please open an issue on p4c with a complete source listing so we can improve the error message? Thanks!

[2017-05-08 00:07] #180 closed

[2017-05-08 05:23] jnfoster commented on #179
This is addressed by the pull request for #166, which removes this check. Closing now.

[2017-05-08 05:23] #179 closed

[2017-05-08 05:32] jnfoster commented on #131
Can this be closed?

[2017-05-08 05:32] #131 closed

[2017-05-08 05:36] jnfoster commented on #169
According to Calin's notes, at 4/24 meeting we agreed on the following:

    - what can the compiler do with tables and controls that are deemed dead-code but can be accessed by the control plane.
        - one option is to delete them, and if they are accessed, these should be handled at a different level
        - should they be made programmatically available to the control plane? Transparently

[2017-05-08 05:37] jnfoster commented on #168
If I recall correctly, we didn't discuss this at the 4/24 meeting because it seemed like a minor issue that could be resolved offline. Is there more to say, or can we safely close this?

[2017-05-08 05:38] jnfoster commented on #163
Close by #173

[2017-05-08 05:38] #163 closed

[2017-05-08 05:39] jnfoster commented on #151
@jafingerhut I think we resolved not to take this and think about adding proper functions down the road. If you agree, can we close this? If not, let's update the spec?

[2017-05-08 05:41] jnfoster commented on #150
Do we need to revisit this issue at the 5/8 meeting? We've now resolved #129 differently.

[2017-05-08 05:42] jnfoster commented on #139
This issue has been moved to pull request #166. Closing this now.

[2017-05-08 05:42] #139 closed

[2017-05-08 14:49] cc10512 commented on #168
Indeed we have not discussed it. When we discussed it initially, we agreed to keep priorities because control plane APIs do include a priority, and if we are to extend the spec in the future, we should support them. For read-only tables it is not essential to have them explicitly set. So I would be fine with either enforcing uniformity (all with priorities or all without) or removing priorities fr

[2017-05-08 15:23] jnfoster commented on #168
Sounds good, I will add it to the agenda.

-N

On Mon, May 8, 2017 at 7:49 AM, Calin Cascaval <notifications@github.com>
wrote:

[2017-05-08 16:29] jafingerhut commented on #151
@jnfoster I am perfectly fine with either of these: (a) rename this issue as 'Add functions to P4' and mark it as post P4_16, (b) close this issue and create a new one for adding functions to P4.

[2017-05-08 16:31] jnfoster commented on #151
Tagged as post P4_16.

[2017-05-08 16:33] jafingerhut commented on #136
I am satisfied with the reason that it is inout, although it is subtle enough it seems worth mentioning explicitly somewhere, perhaps.  Not a high priority for it to be mentioned explicitly, though.

[2017-05-08 16:33] #136 closed

[2017-05-08 16:34] jafingerhut commented on #119
Note that there is newer work on this p4lang/p4c PR: https://github.com/p4lang/p4c/pull/569

[2017-05-08 16:36] jnfoster commented on #119
Shall we close this issue now that there is a pull request?

[2017-05-08 16:45] cc10512 commented on #119
This was opened for both the arch definition and for @dandaly to work on p4 examples validating the idea of PSA. The latter is still pending.

[2017-05-08 16:46] jnfoster commented on #119
Okay. Can you assign it a milestone so we can keep track of it?

[2017-05-08 17:01] jnfoster commented on #65
Closing this issue, as discussed above.

[2017-05-08 17:01] #65 closed

[2017-05-08 17:02] jnfoster commented on #14
Closing this issue as the API WG now owns it (Cc @antoninbas).

[2017-05-08 17:02] #14 closed

[2017-05-08 17:03] jnfoster commented on #172
Closing this for now. We may explore tidying of the grammar and parser streamlining in the future.

[2017-05-08 17:03] #172 closed

[2017-05-08 17:07] jnfoster commented on #142
Can this be closed?

[2017-05-08 17:33] jnfoster commented on #129
Closing after discussion with Cole.

[2017-05-08 17:33] #129 closed

[2017-05-08 17:36] jnfoster commented on #138
Closing after discussion with @cole-barefoot

[2017-05-08 17:36] #138 closed

[2017-05-08 18:16] mbudiu-vmw commented on #177
We should also forbid casts that do not involve only base types.

[2017-05-08 20:36] dandaly commented on #119
I've made progress on this, let's set a deadline for the end of May?

Dan

Sent from my iPhone

[2017-05-08 21:07] cc10512 commented on #119
I did create a milestone for the end of June, but if we can finish this earlier, it would be great.

[2017-05-08 23:47] #168 closed

[2017-05-08 23:51] mbudiu-vmw opened #185 "Remove OverwritingHeader error from spec"
A corresponding issue with the compiler has been filed.

[2017-05-09 03:16] jafingerhut commented on #142
As far as my investigation into this has gone, I haven't found anything incorrect in the spec.  My initial understanding of the examples was wrong.

[2017-05-09 03:16] #142 closed

[2017-05-09 06:51] #137 closed

[2017-05-09 06:52] #177 closed

[2017-05-09 06:57] jnfoster commented on #169
I believe this can be safely closed.

[2017-05-09 06:57] #169 closed

[2017-05-09 06:57] jnfoster commented on #170
@mbudiu-vmw I think this can be safely closed. Do you agree, or do we also need to expand what's in the spec?

[2017-05-09 07:03] jnfoster commented on #185
Sounds good. Closing this issue on the spec.

[2017-05-09 07:03] #185 closed

[2017-05-09 17:24] #170 closed

[2017-05-10 07:31] jnfoster commented on #76
As discussed on 5/8 LDWG, this issue can be closed.

[2017-05-10 07:31] #76 closed

[2017-05-10 16:32] mbudiu-vmw commented on #179
I want to point out another inconsistency in the spec; in general, given a function
`void f(out T x)` you want the semantics of the following two to be equivalent:
`f(h);` and `f(tmp); h = tmp;`

However, for extract they are not, when dealing with header stacks extract also updates the hidden counter.

[2017-05-10 16:36] ChrisDodd commented on #179
It seems like the correct way to do this (if you want to keep the OverwritingHeader error) is to have the *assignment* trigger that error if you assign to an entire header that is already valid in a parser.  Assigning to a field of a header would not trigger the error.

[2017-05-10 16:38] mbudiu-vmw commented on #179
Yes, are are right. But it's even better without this error; otherwise you'd have to invalidate any header prior to copying another one into it.

[2017-05-10 16:39] mbudiu-vmw commented on #179
Unfortunately the problem with extract and header stacks remains; the assignment does not change the pointer to the last element according to the spec.

[2017-05-10 16:45] ChrisDodd commented on #179
Actually the spec never talks about how and when the hidden `nextIndex` of a header stack changes, as far as I can see.

Requiring an explicit invalidate before overwriting a valid header in a parser might superficially seem annoying, but having the Overwriting error helps in the common case where overwriting should not happen or should be rare.

[2017-05-10 16:47] mbudiu-vmw commented on #179
If the spec does not talk about this it's a bug we should fix.

You can implement the check manually: `verify(!dest.isValid(), error.OverwritingHeader);`
I prefer this approach.

[2017-05-10 16:49] mbudiu-vmw commented on #179
The spec does talk about this, it's the pseudo-code of extract.
[code]

[2017-05-10 16:51] ChrisDodd commented on #179
Which seems just as broken as checking the valid bit in the extract method, as the parameter really a temporary out, and not the actual thing being extracted into.

[2017-05-10 16:54] mbudiu-vmw commented on #179
Yes, that is my point exactly. This is a pretty ugly special case. This was changed by https://github.com/p4lang/p4-spec/commit/4ce09ca2766bdf300c3fc8bb7d21c904e08fdb67. The previous design was different.

[2017-05-10 19:25] jnfoster commented on #160
Closed by #195

[2017-05-10 19:26] #160 closed

[2017-05-10 19:27] jnfoster commented on #119
We should investigate modeling the packet generator (#25). I'm going to close that issue since this one subsumes it.

[2017-05-10 19:27] jnfoster commented on #25
Subsumed by #119

[2017-05-10 19:27] #25 closed

[2017-05-10 23:09] jnfoster commented on #150
Closed by #197

[2017-05-10 23:09] #150 closed

[2017-05-11 02:18] vgurevich opened #198 "Initializing Header Stacks"
## Personnel
- [x] **Owner**: @vgurevich
- [x] **Supporters**: @mbudiu-vmw

## Design
- [ ] **Document**: See below

## Implementation
- [ ] **`p4-spec`**:
- [ ] **`p4c`**:

## Process
- [x] **LDWG discussed**:
- [ ] **LDWG approved**:
- [ ] **Merged into `p4-spec`**:
- [ ] **Merged into `p4c`**:

Hello,

I was wondering if it is possible to initialize header stacks, and if yes, how.

Obviously, w

[2017-05-11 03:03] mbudiu-vmw commented on #198
There are no array initializers, you have to initialize each element by hand.

[2017-05-11 03:16] vgurevich commented on #198
This is definitely an inconsistency, (since other compound types can be initialized),  but the one we can live with. Something for the future?

[2017-05-11 04:17] jnfoster commented on #198
Let's punt this until after the release. It would be good to have, but the
interaction with `next` and `last` could be subtle. And we wouldn't be able
to initialize stacks with holes...

On Wed, May 10, 2017 at 8:16 PM, Vladimir Gurevich <notifications@github.com

[2017-05-11 15:15] akeep opened #199 "P4 Spec ToC: Sections 12.1 Actions and 12.2 Tables at wrong page number"
Hey All,

I noticed in the table of contents that section 12.1 Actions is listed at page 93 (should be 75) and 12.2 Tables is listed at page 92 (should be 76).  I think the problem is that there are two sections listed for each of these.

Sections 12.1 and 16.3.1.3 are both "Actions"

Sections 12.2 and 16.3.1.1 are both "Tables"

I'm happy to fix this, but I wasn't sure what which we should change

[2017-05-11 17:01] vgurevich opened #200 "What happens after the reject state?"
The spec seems to be silent about the further handling of the packet in case the parser reaches the `reject` state. From the current reading it looks very much like the `accept` state, except that the error is set to something other than error.NoError.

To me this implies that unless something special is done, the `reject`-ed packet will also reach the other P4-programmable blocks and thus at leas

[2017-05-11 17:04] mbudiu-vmw commented on #200
Yes, it is up to the architecture. The exemple vss architecture shows how the documentation for a target should be written.

[2017-05-11 19:44] jnfoster commented on #199
The issue is that Madoko generates default TeX / HTML labels for unlabeled sections. I have a PR coming that fixes this.

[2017-05-11 20:15] #199 closed

[2017-05-12 02:01] jafingerhut opened #205 "Table of keywords incomplete"
This is a tiny issue, really, and there is no big reason it needs to be fixed before releasing 1.0.

Section A: It is missing at least header_union, but I haven't attempted to determine what else might be missing.

Section 3.2 mentions a number of keywords in P4-16 to compare it to P4-14, which is probably also off by at least 1.

[2017-05-12 04:34] jafingerhut opened #210 "Copy latest p4lang/p4c core.p4 into Section B?"
I did a quick diff on them, and the one in p4c has more comments than the one in the spec.

The one in core.p4 has a comment "match expression has no matches" that is probably better replaced with "'select' expression has no matches".  I can open a PR for that if desired.

[2017-05-12 05:39] jafingerhut opened #215 "Is it ever correct for a P4 compiler to reorder calls to externs relative to each other?"
I am pretty sure that for counters and meters, at least, as long as the counters or meters being updated are in different 'collections', it should be correct for a compiler to reorder the execution of those updates relative to each other.  Such reordering can be a very useful optimization for many targets.

However, given this statement in the draft spec "**extern functions are arbitrarily powerfu

[2017-05-12 05:52] mbudiu-vmw commented on #215
The backend knows the semantics of externs.
We could also add some additional annotations: pure, privatestate.

[2017-05-12 05:57] jafingerhut commented on #215
So maybe this is only an issue for those P4 systems where they allow user-defined externs (I think you mentioned that you had heard of such implementations before).

Does p4c-bm2-ss allow reordering of counter and meter updates relative to all other operations?

Does it prevent reordering of register read relative to register write, but only for accesses to the same named collection of registers?

[2017-05-12 06:09] mbudiu-vmw commented on #215
None of the back-ends I work on does any such reordering or scheduling yet.

[2017-05-12 06:21] mbudiu-vmw commented on #210
Please just copy the stuff.

[2017-05-12 06:22] jafingerhut commented on #215
Thanks.  I realized about 5 mins after I posted that question that p4c-bm2-ss probably never reorders any operations, since it has no good reason to do so.

[2017-05-12 07:51] jnfoster opened #217 "Complexity"
This claim is wrong.

Given a sufficiently powerful extern (e.g., arbitrary precision integers) it's trivial to encode a Turing-complete formalism into P4 parsers.

This claim is also potentially misleading:

It requires reading "P4 program" as a single parser or control, and not an instantiation of an architecture. Note that in the presence of recirculation, one can write programs with arbitrary

[2017-05-12 08:05] jafingerhut commented on #217
I think in the sense in which they were intended, they are useful things to state about the intent of the design of P4.

I mean, if we want to be pedantic, every computer is a finite state machine, and not Turing complete :-)

The first issue could be made slightly more precise with 'P4 (without externs) is not a Turing-complete language'.

The second could be made more precise by excluding recirc

[2017-05-12 15:13] vgurevich commented on #217
I think that there is a substantial difference between parsers and controls and therefore putting them together is what probably leads to the confusion.

Controls are probably "easier" in that they can express only the "straight" flows, i.e. only those that can be represented with a DAG. This is really the design intent and explains the absence of loops, recursion, etc.

Parsers are much trickier,

[2017-05-12 16:09] mbudiu-vmw commented on #217
This is not the time to be pedantic. The essence of P4 is constant work/byte of header, this is the best way to describe how P4 is different from other languages. If you want to take the paragraph out it's fine, one can implement a compiler even without that bit of information, so it is not necessary as part of the spec.

Vladimir, if you assume that all externs do O(1) work per method invocation

[2017-05-12 18:07] vgurevich commented on #217
@mbudiu-vmw,

I agree -- this information is not needed for the compiler implementation. But, it is definitely nice to put some limits on what we think can or cannot be added to the language.

I also agree that "constant amount of work per processed byte" is the limit for P4 programs.

The question is: given the fact that many HW targeted implementations can and should achieve "constant work per p

[2017-05-12 18:10] jafingerhut commented on #210
I have opened a PR for this: https://github.com/p4lang/p4-spec/pull/221

Closing this issue in favor of that PR.

[2017-05-12 18:10] #210 closed

[2017-05-12 18:14] jafingerhut commented on #217
@vgurevitch - "constant work per byte processed" combined with "at most a constant number of bytes can actually be processed by any P4 program" (limited by how deep that particular program's parser can parse, which is always a compile time constant) adds up to "constant work per packet".  Saying all of that explicitly is fine, if people want it in the spec, but the first two give a little more inf

[2017-05-12 22:02] jafingerhut commented on #205
Mihai's PR looks like it should address this: https://github.com/p4lang/p4-spec/pull/216

[2017-05-12 22:55] jnfoster opened #223 "Checksum"
What happens if I remove data that was not previously added? What happens if I add the same data twice and then remove once?

-N

[2017-05-12 23:02] mbudiu-vmw commented on #223
This is just a hypothetical example, it is not part of the P4 definition.
We don't describe how the 16-bit checksum unit works, that's folklore.

[2017-05-12 23:04] jnfoster commented on #223
I think this is my fault actually -- last fall, I insisted that the VSS checksum have the same interface as the full one. :-P

[2017-05-12 23:04] #223 closed

[2017-05-12 23:04] mbudiu-vmw commented on #223
Yes, VSS does not need such a complicated checksum unit.
In principle it's relatively easy to explain, but it is not in the scope of this document.

[2017-05-12 23:05] jnfoster commented on #223
(I'm still curious what a real checksum unit would do, but that can wait for later.)

[2017-05-12 23:06] mbudiu-vmw commented on #223
Think of it is a streaming unit; you add a stream of bits and ask for a checksum at the end.
What you add and remove must be aligned on byte boundaries for this to make sense.

[2017-05-12 23:07] jnfoster commented on #223
So would ck.remove<T>(T data) just remove the last sizeof(T) bits?

[2017-05-12 23:09] jnfoster commented on #223
I can't do
[code]
and expect it to do something reasonable.

But
[code]
would be equivalent to just
[code]
?

[2017-05-12 23:10] mbudiu-vmw commented on #223
No, it would "complement" the data.
Here is a C implementation: https://github.com/vmware/p4c-xdp/blob/master/xdpProgram.cpp#L122.
There are some subtraction routines too.
This is a custom unit just for IPv4.

[2017-05-12 23:11] mbudiu-vmw commented on #223
If your operations are commutative then the first would work too.
It all depends on the algebra of how the checksum is defined.

[2017-05-12 23:15] mbudiu-vmw commented on #223
https://tools.ietf.org/html/rfc1624

[2017-05-12 23:32] jnfoster commented on #223
:-)

[2017-05-13 06:47] vgurevich opened #225 "Definition of push_front() doesn't sound right."
From the spec:

I think that the first statement (about "shift right") is correct, but I have trouble visualizing the rest.

[2017-05-13 08:02] jnfoster opened #226 "Small issues"
* Should all references to "arrays" really be to "header stacks"?

* The discussion of direction conventions in the Justification section seems too early: constructor parameters and action data haven't been defined yet. I think @jafingerhut added this recently. But maybe it should be moved elsewhere.

* Do we want to say that there is no user-facing `string` type?

[2017-05-13 14:44] jafingerhut commented on #226
I cannot think of anything other than "header stacks" in the current P4-16 language that "arrays" can refer to, so "header stacks" is more clear.

No strong opinion on the others, but they both seem fine to me.  I'm not trying to avoid blame if it is due, but I haven't done anything nearly so useful for p4.org as write entire sections of the spec yet :-)

[2017-05-13 14:58] jafingerhut commented on #225
The description makes sense to me, but perhaps it would help if there were pseudocode to describe these operations as well?

[code]

[2017-05-13 16:11] jafingerhut opened #228 "Add description of assignment between header_union variables"
The current spec seems silent on the topic of assignments between variables of type header_union.  That should probably be addressed explicitly.  Perhaps some text like the following could be added to the section on header union operations (unless my idea of the behavior differs from what others expect it ought to be):

Assignments between variables of the same type of header_union are permitted.

[2017-05-13 16:16] jnfoster commented on #225
It makes sense to me.

And I think adding the pseudocode. To answer the TBDs: your semantics for lastIndex looks consistent with what we do elsewhere.

[2017-05-13 16:19] jafingerhut commented on #225
Should I create PR for adding the pseudocode?  I will take out the TBD comments if so.

[2017-05-13 17:03] jafingerhut commented on #228
Created a PR for this in case it helps: https://github.com/p4lang/p4-spec/pull/230

[2017-05-14 01:30] mbudiu-vmw commented on #225
I think that a drawing would be much more useful. But pseudo-code is necessary, especially for the corner cases.

[2017-05-14 16:02] jafingerhut opened #231 "Question: Motivation for conditional assignment behavior with header unions?"
I think I understand the proposed behavior from the spec pretty well, and I am not proposing changing it.

Note: Example in question of next paragraph was originally phrased incorrectly, then later corrected.

What I do not understand is _why_ it is proposed to be this way, i.e. why is it considered important/useful that if you do an assignment `u.hi = hi;`, and right-hand side `hi` is invalid, th

[2017-05-14 16:28] jafingerhut commented on #200
I have created a proposed PR to make it explicit that the behavior of handling packets reaching a reject state in a parser must be specified by the architecture, with a couple of examples.  Please read it and see if you think it is worth adding to the spec: https://github.com/p4lang/p4-spec/pull/232

[2017-05-14 16:52] mbudiu-vmw commented on #231
Whatever it is, it should correspond to a field-wise copy, including the "copy" of the invalid bid.
A third possible behavior is to produce not an invalid result, but an undefined result.

[2017-05-14 20:43] jafingerhut commented on #231
@mbudiu-vmw Not sure if you have read the behavior of `u.hi = hj;' in the spec for a header union `u` and an invalid header `hj`, but it is defined to be a no-op if `hi` and `hj` are different members of `u`.  Not a copy of bits or fields, but an actual no-op.  `u.hi = hi;` can be implemented by bitwise copying in an implementation, unconditionally.

[2017-05-14 23:44] jnfoster commented on #231
@jafingerhut I don't believe there was a deep reason for defining the behavior this way. The semantics you propose is certainly simpler to describe ("just copy") and simpler from an operational perspective. I wouldn't be opposed to adopting it. If you want the old behavior, you could always use a conditional -- and that actually seems more consistent with a "pay-as-you-go" approach to cost.

And e

[2017-05-15 01:05] jafingerhut commented on #225
@vgurevich Does the pseudocode clarify anything for you?  A slightly modified version of what appears above is now committed to the spec.  You can see the committed diff here: https://github.com/p4lang/p4-spec/pull/229/files

[2017-05-15 03:35] vgurevich commented on #225
@jafingerhut Looks right (with nextindex adjustment). Thanks a lot.

[2017-05-15 05:06] jnfoster opened #235 "casts"
I guess we disallow casts involving `varbit<W>`?

[2017-05-15 05:22] mbudiu-vmw commented on #235
Correct.

[2017-05-15 05:24] mbudiu-vmw opened #236 "We should just remove the 2-argument emit method"
It is redundant. We can always add it later if it turns out it is useful.
No program is using this.

[2017-05-15 05:27] jnfoster commented on #235
`bit<32> a = 10`. Legal or no?

[2017-05-15 05:27] #235 closed

[2017-05-15 05:30] mbudiu-vmw commented on #235
Yes

[2017-05-15 05:31] jnfoster commented on #235
Sorry, which way?

[2017-05-15 05:35] mbudiu-vmw commented on #235
You can assign an int to a fixed-width.

From: Nate Foster<mailto:notifications@github.com>
Sent: Sunday, May 14, 2017 10:31 PM
To: p4lang/p4-spec<mailto:p4-spec@noreply.github.com>
Cc: Mihai Budiu<mailto:mbudiu@vmware.com>; Comment<mailto:comment@noreply.github.com>
Subject: Re: [p4lang/p4-spec] casts (#235)

Sorry, which way?

—
You are receiving this because you commented.
Reply to this email d

[2017-05-15 05:40] jnfoster opened #237 "Targets vs. architectures"
In a number of places we say that targets may impose additional restrictions---e.g., multiplication only with powers of two, forbidding shifts by large values, masks with compile-time known values, etc.. I think we really mean that architectures may impose additional restrictions. Agree?

-N

[2017-05-15 05:48] cc10512 commented on #237
Although I'm inclined to say yes, because only architectures are visible to P4, backends for certain targets may impose additional restrictions even when implementing the same architecture. Note that some of these restrictions are more fine grained than the "programming model" that the architecture defines.

That is, an architecture may not impose all the restrictions that a target may impose. The

[2017-05-15 05:50] jnfoster commented on #237
I agree with this and I think we already cover this when we discuss conformance of a target.

So I think the AI is to change most phrases of the form "targets may..." to "architectures may..."

[2017-05-15 06:17] jnfoster opened #238 "constructor confusion"
This is mostly a placeholder for myself: #sec-constructor distinguishes "constructors" (for externs) and "instantiations" (for parsers/controls/packages), but we instantiate using "constructor parameters." This is confusing.

[2017-05-15 06:21] mbudiu-vmw commented on #238
One is an expression, the other a declaration. Both have to supply arguments for constructor parameters.

[2017-05-15 06:23] jnfoster commented on #238
I know. Our terminology just seems less than ideal. Definitely low-priority to fix and easiest done on a global pass once everything else is converged.

[2017-05-15 07:46] jnfoster opened #239 "ParserModel doesn't capture control flow"
According to the ParserModel:

- `transition e` is modeled as
[code]
- `verify(b, err)` is modeled as

[code]
- and statements are evaluated in sequential order.

Putting these together, it follows that` verify(false, Oops); transition accept` is modeled as a program equivalent to:
[code]
which isn't at all what we meant!

Unless we want to CPS convert everything or something, it won't be easy to

[2017-05-15 07:57] jnfoster opened #240 "TCP options example in #sec-lookahead is not self-contained"

[2017-05-15 09:35] jnfoster opened #242 "Omnibus issues through the end"
* Switched to single emit and added description and pseudocode

* Clarified that type variables should be handled like Java generics and not C++ templates. (I think this does not matter since we've eliminated the ability to write any code that is parameterized on types -- they are just used to give declarations of architecture components.) However, since we mention unification and Hindley-Milner,

[2017-05-15 09:56] jnfoster commented on #236
A draft is in #243. However the pseudocode needs more eyes on it (including my fresh eyes in the morning).

[2017-05-15 14:23] jafingerhut commented on #239
From this statement in section 11.7 "verify"

"If the first argument is false, it causes an immediate transition to the reject state, which causes immediate parsing termination; at the same time, the parserError associated with the parser is set to the value of the second argument."

My understanding is that the 'transition accept' statement in your example would never be executed, because the ver

[2017-05-15 15:36] mbudiu-vmw commented on #240
Many examples in the spec are not self-contained.

[2017-05-15 15:38] jnfoster commented on #239
The problem is that our pseudo-code is we are not modeling control-flow property. This is easy to see: the target of the translation (P4 `parsers`) uses exceptions but the target of the translation (imperative pseudocode) does not have them.

So our translation is just wrong.

It is possible to "translate away" exceptions, but you generally need to do some kind of global transformation, like conve

[2017-05-15 15:40] mbudiu-vmw commented on #239
There are no exceptions in the language, period.
I don't know what you are talking about.
The semantics of parsers is very simple, transition is just a goto.

[2017-05-15 15:49] jnfoster commented on #239
You're right -- I was thinking of `valid` as throwing an exception which is not literally true. It's a non-local control flow.

However, the crux of the issue remains. The concrete example I wrote down above is wrong in ParserModel as we describe it. The target language of our translation uses assignment, not `goto`s, so we get the wrong result for:

[code]

[2017-05-15 15:52] jafingerhut commented on #239
@jnfoster - If the implementation of verify contains an 'exit' statement that does a complete exit from the parser control flow, that sounds like correct behavior to me (even if 'exit' is not something a P4 program can contain explicitly in parser code).

[2017-05-15 15:53] jnfoster commented on #239
Yep. We can add exceptions, gotos, or `halt` (maybe to avoid confusion with P4's `exit`) and fix-up the translation.

[2017-05-15 15:57] jnfoster commented on #240
Sure. This one is especially terse, and it's noticeable since it closely follows a much more fleshed out example with IPv4 options.

[2017-05-15 16:12] mbudiu-vmw commented on #239
The "state" is the program counter. This program uses assignments to the program counter.
There is no halt or exit needed.

[2017-05-15 16:12] vgurevich commented on #237
In the training presentation I widely use the term "platform", which is defined as "an architecture implemented on a given target". This term might might help in the cases, where we understand that the architecture exposes something that is fairly target-dependent.

[2017-05-15 16:13] mbudiu-vmw commented on #237
We are way past the deadline for finishing this. Rushing such changes will only make the document more confusing. If these edits were to be done, they should have been done a long time ago.

[2017-05-15 16:26] jnfoster commented on #237
I changed most of these over the weekend, to make it consistent with the terminology we agreed upon during design meetings last fall and have already defined in the early sections. I agree with @mbudiu-vmw that it's too late to introduce a new term like platform.

[2017-05-15 16:27] #237 closed

[2017-05-15 16:28] jnfoster commented on #239
@mbudiu-vmw Can you show me what
[code]
looks like in the ParserModel pseudo-code? I have a counter-example. (I don't see how the PC helps us since we say that multiple statements are executed sequentially.)

[2017-05-15 16:29] jnfoster commented on #228
Closed by #230

[2017-05-15 16:29] #228 closed

[2017-05-15 16:29] jnfoster commented on #225
Closed by #229

[2017-05-15 16:29] #225 closed

[2017-05-15 16:31] jnfoster commented on #215
@jafingerhut are you happy? Can we close this?

I agree that reordering operations would be useful and may be tricky when the code involves externs. But I also agree with Mihai that a back-end would have full knowledge of the semantics of externs. So the front-end might have to be conservative, but the optimizations could still happen somewhere.

[2017-05-15 16:39] jafingerhut commented on #215
I am happy, about this and many other things :-)  Closing.

[2017-05-15 16:39] #215 closed

[2017-05-15 17:06] jafingerhut commented on #200
@vgurevich The PR mentioned above has been merged into the spec.  Hopefully that addresses this issue for you?

[2017-05-15 17:09] vgurevich commented on #200
Yes, thank you!

[2017-05-15 17:09] #200 closed

[2017-05-15 17:33] jnfoster commented on #238
Closing this. It's not worth addressing now.

[2017-05-15 17:33] #238 closed

[2017-05-15 17:36] jnfoster commented on #231
Hi Andy,

After having another pass over the material, I think here's the rationale:

[2017-05-15 17:36] #231 closed

[2017-05-15 18:10] jafingerhut commented on #205
I am satisfied this will get fixed soon via the PR above or another one.  Closing this issue.

[2017-05-15 18:10] #205 closed

[2017-05-15 18:25] jnfoster commented on #226
The rest of these are trivial. Closing this.

[2017-05-15 18:25] #226 closed

[2017-05-15 18:25] jnfoster commented on #217
Fixed by #245. Waiting to merge that since @mbudiu-vmw has the token to detangle some conflicts, but closing this issue.

[2017-05-15 18:25] #217 closed

[2017-05-15 18:26] jnfoster commented on #236
Closing this since there is a pull request that addresses the issue.

[2017-05-15 18:26] #236 closed

[2017-05-15 19:15] jnfoster commented on #239
Resolved: to replace assignment to currentState with a goto.

[2017-05-15 19:30] jnfoster commented on #242
Closing after discussing with @mbudiu-vmw and @jafingerhut.

[2017-05-15 19:30] #242 closed

[2017-05-15 19:47] jafingerhut commented on #239
Opened this PR with proposed change: https://github.com/p4lang/p4-spec/pull/248

[2017-05-15 20:02] jnfoster commented on #240
Addressed in #249

[2017-05-15 20:02] #240 closed

[2017-05-15 20:23] jnfoster commented on #239
Fixed by #248

[2017-05-15 20:23] #239 closed

[2017-05-15 22:19] jafingerhut opened #255 "Should "operations on lists" section mention assignment to header is always valid?"
This might already be explicitly stated elsewhere, but stating it explicitly in the "operations on lists" section might be appropriate, if I am remembering correctly that this is the intended behavior.

OK, further reading shows this is already explicitly mentioned in the "Operations on headers" section, which is good enough for me.

[2017-05-15 22:34] #255 closed

[2017-05-15 22:37] jafingerhut opened #257 "Too-long lines in PDF output of "Parser states" pseudocode"
Probably just needs manually inserted line breaks to make the long lines shorter.

[2017-05-16 01:46] #257 closed

[2017-05-17 06:32] jafingerhut opened #264 "Define new operations on varbits"
This is intended to be post P4-16.  I wanted to add a placeholder issue to remind me to flesh out more details later.

The basic idea is that for some protocols, it would be useful to be able to read bits from, and modify bits within, a varbit field.  This would be most useful if the bit offsets can be run-time calculated (if they were restricted to be at fixed bit offsets, then most likely the fi

[2017-05-19 16:06] mbudiu-vmw commented on #264
If you really want to manipulate varbits you probably should parse them.
One way to do some of this stuff is to create a packet_in constructor with a varbit argument; then you can just use extract to slice it. You can also have a packet_out that writes to a varbit, and you can emit into it, but it is not clear what happens if you overflow.

These essentially would treat the varbit as a byte stream

[2017-05-19 16:49] jnfoster commented on #264
Suppose I want to invert the middle (i.e., length(f) / 2) bit in a varbit
field f. This is easy to do with @jafingerhut's proposal. How do I do this
with yours?

If you really want to manipulate varbits you probably should parse them.

My example can't be parsed because the field for the middle bit would be
surrounded by two varbit fields. But we restrict headers to a single varbit
field.

I'm con

[2017-05-20 15:24] jafingerhut opened #271 "Minor build issue: How to install UtopiaStd-Regular font on Mac?"
Just a question for anyone who has successfully built the P4-16 spec on Mac OS X without getting this error:

    The font "UtopiaStd-Regular" cannot be found.

I have installed many texlive-* packages using MacPorts to no avail, so far.  If people are using Brew to install TeX on a Mac and not getting this error, I may just have to do that.

[2017-05-20 21:59] cc10512 commented on #271
checkout the gh-pages branch of the repository and add the UtopiaStd-Regular.otf file to your font book. As well as luximr.ttf for the code fonts.

[2017-05-20 23:47] hanw opened #272 "Use `tuple` in type declarations?"
The following sentence in the spec did not mention `tuple`. But from the context before and after the paragraph, it would make the spec more clear to state whether `tuple` can or cannot be used in a type declaration.

[code]

Also, just nitpicking, it would be easier on the reader if the order of the type keywords matches to the order of the type keywords in the bullet points right above this para

[2017-05-21 14:59] jafingerhut commented on #271
@cc10512 That worked.  Thanks.  I should create a PR to add this note to the README for building the P4-16 spec.

[2017-05-21 15:01] jafingerhut commented on #272
@hanw Or perhaps it would be even easier on the reader to add a table of the relevant properties of each type, especially if there are more of them we want to summarize, besides 'can only be used in type declarations'.

You should double check with a little test program yourself, but I believe p4c already supports tuple in this way.

[2017-05-21 15:21] jafingerhut opened #273 "Question: Summary of defined/undefined values in P4-14 and P4-16"
I knew there were some differences in the specs of the 2 languages here, but didn't have in my head exactly what they all were, so I started searching through both specs for words like "defined" "undefined", "specified", "unspecified", etc. and came up with the following.  I would appreciate it if someone familiar with these things could see if I am missing anything relevant, or if any of what I h

[2017-05-21 21:51] vgurevich commented on #273
Hi Andy,

I do agree that there are some loose ends to tie.

I think that parameter direction is very important for the architecture definition and needs to be used to express the architectural intent. At some point I remember @mbudiu-vmw proposing to think about  P4 parsers and controls as callbacks for a black box, which represents the overall architecture. I think that it helps enormously and a

[2017-05-21 23:00] mbudiu-vmw commented on #273
The semantics of copy-in/copy-out is that your parameters are copies of the arguments. Out parameters are always uninitialized. Uninitialized headers are always invalid.

[2017-05-21 23:58] jafingerhut commented on #273
@mbudiu-vmw "Out parameters are always uninitialized."  I agree that an architecture need not promise to initialize 'out' parameter values if it doesn't want to -- the P4-16 spec allows this.  If an architecture stated "All 'out' parameters will be initialized to 0, guaranteed." that would not _violate_ the P4-16 spec, would it?  In my opinion, that sounds like "we implement the spec, plus some mo

[2017-05-22 00:21] mbudiu-vmw commented on #273
You cannot override this. The out parameters start uninitialized and then after the call is done they are copied on top of the argument. Even if the argument was initialized, copying would destroy its value.

[2017-05-22 00:34] jnfoster commented on #273
I think @jafingerhut is asking if a target could implement
"uninitialization" as zeroing out.

N

On Sun, May 21, 2017 at 5:21 PM Mihai Budiu <notifications@github.com>
wrote:

[2017-05-22 01:35] vgurevich commented on #273
It looks like section 6.7 says precisely that:

I think the confusion is purely linguistic, because the sentence above basically says that the valid bits of uninitialized headers/header_unions (and we think of them as integral part of those) are initialized to 0 :)

[2017-05-22 01:41] hanw commented on #273
Implementing 'uninitialization' as zeroing out is actually more work for the target designer. E.g., on a pipelined FPGA target, pipeline registers are used to store the `out` parameters. Zero-out the register after each packet takes a cycle, and modifying the register takes another cycle. The target which implements zero-out effectively only achieve 50% of the max throughput. By forcing `out` to s

[2017-05-22 02:36] mbudiu-vmw commented on #273
Unintialized means that reading from it returns undefined. 0 a legal undefined value.

[2017-05-22 02:45] jafingerhut commented on #273
So there can be many implementations that save work, and/or achieve higher performance, by taking advantage of the fact that the P4 specs allow undefined behavior in certain situations.  I understand that.  Completely.  Implement them with my blessing (well, maybe with my tolerance -- I don't actually like the undefined behavior in the spec, but I'll live, and even sleep well, with it there.)

But

[2017-05-22 03:42] #271 closed

[2017-05-22 04:51] vgurevich commented on #273
@jafingerhut,

I am afraid that if we go this way than this 1% of implementations will easily screw up either the rest of the 99% of implementations or the programmers who are going to use it and were to follow this guidance. What's worse is that the implementation will not, indeed, violate the spec, but the guidance above will encourage people to violate the spec and I am not sure what's worse.

[2017-05-22 17:08] jafingerhut commented on #273
@vgurevich  Such an implementation doesn't encourage people to violate the spec, not even a little bit.  It might encourage them to write non-portable programs, true, but an implementation does not violate the spec by allowing non-portable programs to be run on it.  P4 externs are a far more likely source of non-portability, and those are in the spec, by design.

[2017-05-22 17:11] jafingerhut commented on #273
@vgurevich Regarding your first comment on this issue, I will quote you here, then reply below that, on one point:

"Now, in case of headers, I think it is, indeed, extremely convenient to have the validity bits being cleared by the architecture, meaning that if we want to be pedantic, we will say that even though a header might be an out parameter, its validity bit will, in reality be inout and c

[2017-05-22 17:27] vgurevich commented on #273
@jafingerhut,

On who encourages what. I think we are generally in agreement. Yes, those systems will not violate the spec. Yes, I should have been more careful: programs written by the users do not violate the spec (only the implementations do); instead they are non-portable. I think we also agree that encouraging non-portability is not a good thing to do.

On non-portability of "above-and-beyond

[2017-05-22 20:59] jafingerhut commented on #273
Agreed that the compiler should be quick to discover non-portability issues involving externs.

The point you bring up about the imagined "initialize things to 0 for you" architecture vs. other architectures that do not -- there is _already_ such an issue between different implementations today, _because_ the spec says the values are not defined.  A program might work perfectly well on one archite

[2017-05-22 21:20] jnfoster commented on #273
I agree with @jafingerhut, both on this point and the rest of the points being made in this thread. To summarize:

1. It is legal for a target to implement uninitialization by zeroing out.

2. For a program to be portable, among other things, it must not make any assumptions about any of the undefined values that it encounters when evaluating the program.

In the short term, I know that a number o

[2017-05-22 21:23] cc10512 commented on #273
One nit: uninitializing headers by zeroing out should make sure that the header is still invalid.

[2017-05-22 21:26] jnfoster commented on #273
Correct.

[2017-05-23 17:26] jafingerhut commented on #273
@jnfoster If an architecture implements uninitialization of headers by clearing valid bits and nothing else, isn't having a tool that can achieve your point 2 exactly the kind of thing that would avoid undefined behavior on such an architecture?

[2017-05-23 19:33] mbudiu-vmw commented on #264
The spec allows any number of varbit fields in a header. The extract method only knows how to handle one, though. In our previous design we had an annotation called @length on a varbit field which works like the P4-14 field length. This would allow you to handle any number of varbit fields in the compiler. In fact, this is how the P4-14 -> P4-16 translation works, it adds these annotations. In the

[2017-05-24 06:46] jafingerhut opened #276 "Meaning of 2nd arg in 2-argument extract?"
The P4-16 spec says that the second argument is in units of bits, and it is the length of the varbit field of the header, not the complete header.

That is consistent with this sample extract call for IPv4 options in a p4c test program: https://github.com/p4lang/p4c/blob/master/testdata/p4_16_samples/match.p4#L64-L65

If both of the above are correct, then one of the sample programs in the spec us

[2017-05-24 17:15] mbudiu-vmw commented on #276
It looks like you are right.

[2017-05-24 20:50] mbudiu-vmw commented on #272
All these declarations introduce a new type by name. `struct S {}` introduces the name S. There is no such case for tuple or stacks. That's the meaning of the paragraph.

[2017-05-24 21:19] jafingerhut commented on #272
@mbudiu-vmw I am not sure how to reconcile your statement with the fact that the attached P4-16 program compiles cleanly with a recent p4test and p4c-bm2-ss.  See the type named myTuple_t in there.  Is this an example of the compiler allowing something that the spec does not?  Or something else?

[2017-05-24 21:21] mbudiu-vmw commented on #272
Which attached program?

[2017-05-24 21:33] jafingerhut commented on #272
It should be there now, called tuple-with-type-name.p4.txt.  I missed attaching it on my first send, and added it about a minute later, so refresh browser may be needed to see it.  The link to the file ended up before my text, not at the end.

[2017-05-24 21:55] mbudiu-vmw commented on #272
The name is introduced by `typedef`, not by `tuple`.

[2017-05-27 17:30] vgurevich opened #280 "Lookahead might be a little restrictive"
In the section 11.8.3 (Lookahead) we have the following definition:

[code]

Basically, it says that in order to use lookahead, the packet should have at least sizeof(T) bits in it. However, in most use cases only the first few bytes of a lookahead might be used and then this definition becomes problematic. Consider, for example, the following case:

[code]
Spec-wise, this construct will fail if t

[2017-05-27 17:49] cc10512 commented on #280
Given that the lookahead is typically used to figure out what to extract, I think it is entirely reasonable to extract only the version using ```packet.lookahead<bit<4>>()```. Moreover, it is not clear what is it that you're proposing to change in the spec.

[2017-05-27 17:50] jnfoster commented on #280
I agree. This seems like a good insight for a programmer's guide, but the
spec is OK.

N

On Sat, May 27, 2017 at 10:49 AM Calin Cascaval <notifications@github.com>
wrote:

[2017-05-27 18:31] vgurevich commented on #280
@cc10512 ,

So the problem is that if based on the result of the lookahead I want to extract a shorter header that what was used to specify the lookahead type (or not to extract anything at all), the spec will still direct me into the reject state and that's not nice.

[2017-05-27 18:55] jafingerhut commented on #280
@vgurevich I understand that this might be a little bit inconvenient to use things like packet.lookahead<bit<4>>() when you have the field in the header you want already defined.  Another alternative is to define a header that is the prefix of the header you want, but contains only the minimum subset of fields you need to extract.

The main issue with doing it any other way, is that unless the max

[2017-06-02 01:49] ChrisDodd opened #281 "emit method does not specify the order of fields in a header"
In the P4_16 spec of 2017-05-22 section 14.1 it says that the packet_out emit method, when applied to a struct, "recursively invokes itself to each field."  Then below, when explaining the pseudo-code, it says that "We also use standard for notation to iterate through the elements of a stack (e : data) and list of fields for header stacks and unions (f : data.fields$)."

Now I understand that it i

[2017-06-02 01:50] ChrisDodd opened #282 "Type of empty list expressions"
The P4_16 spec 2017-05-22 has a conflict between the specification of expression list and tuple type.

Secttion 8.11 gives the syntax of expression lists:

expression ...
    | '{' expressionList '}'

expressionList
    : /* empty */
    | expression
    | expressionList ',' expression
    ;

and says "The type of a list expression is a tuple type (Section 7.2.8)."  Note that according to the synt

[2017-06-02 02:10] mbudiu-vmw commented on #282
The spec does not say you cannot have an empty tuple type, it just says you cannot write one in p4. This is no different from the set type.

But indeed it would be cleaner if we allowed empty tuple types. This would also allow declaring variables with an empty tuple type.

[2017-06-02 02:11] mbudiu-vmw commented on #281
Yes, we should amend the spec saying that struct fields are emitted in the order they appear in the strict declaration.

[2017-06-02 06:18] jafingerhut commented on #281
Agreed that this appears to be an explicit statement of the original intent, rather than an intentional ommission, given that an emit of a struct with unspecified emit order wouldn't be very useful for anyone.  Created a proposed PR: https://github.com/p4lang/p4-spec/pull/283

[2017-06-02 16:25] #281 closed

[2017-06-06 00:39] jafingerhut opened #284 "Clarifications on behavior of P4-14 remove_header and P4-16 setInvalid"
I was analyzing some switch.p4 code here: https://github.com/p4lang/switch/blob/master/p4src/int_transit.p4#L425-L449

To refresh my memory, I went to the P4-14 spec (latest version as of now, v1.0.4), and found this statement that surprised me regarding remove_header behavior when applied to an element of a header stack:
[code]
Reference: https://github.com/p4lang/p4-spec/blob/master/p4-14/v1.0.4

[2017-06-06 05:53] jafingerhut opened #285 "Question: How undefined is the result of accessing a field in an invalid header?"
A quote from the P4-16 v1.0.0 spec:
[code]
Reference: https://github.com/p4lang/p4-spec/blob/master/p4-16/spec/P4-16-spec.mdk#L3287-L3288

I could interpret this in at least a few different ways, and I am sure other interpretations are possible:

(1) If you attempt to read a field in an invalid header, _that value read_ is undefined, but except for that (and any other places in the program that th

[2017-06-06 05:54] jnfoster commented on #285
From our discussions this fall and winter, interpretation (1) is what was
intended.

On Mon, Jun 5, 2017 at 10:53 PM, Andy Fingerhut <notifications@github.com>
wrote:

[2017-06-06 06:49] jafingerhut commented on #285
Do you know whether the statement "If you attempt to write to a field in an invalid header, that write is effectively a no-op." is intended to be true even if the assignment is to a field in an invalid header that is a member of a header_union?

For example, suppose we define:
[code]
If so, that means that at least assignments to fields of headers within header unions must be conditional upon the

[2017-06-06 16:40] jnfoster commented on #285
My reading of the spec doesn't settle this issue :-(

I can argue for both semantics. I need to ponder this some more.

[2017-06-06 16:44] jnfoster commented on #285
One view, and the one that I recall @mbudiu-vmw and I started out from, is that a sequence of operations that only involve one component of the union should behave as if those operations were applied to a header instance declared at the top-level of the scope.  So if `u.h2` is invalid, then the semantics of assigning to `u.h2.f` should be the same as assigning to a top-level header instance that i

[2017-06-06 17:10] mbudiu-vmw commented on #285
Whatever we choose we have to edit the spec to make the intent clear.

Regarding "undefined" values: P4 does not have runtime exceptions, so the program can never crash. An undefined operation can only affect the values of the variables in scope. But indeed, the spec should qualify writes with undefined behaviors, saying which variables can NEVER be modified.

Reads are simpler, an undefined read

[2017-06-06 17:21] mbudiu-vmw commented on #284
I really hope that we decide that the P4-14 spec is wrong, because the P4-16 spec will create a hole.
If both specs are right, then we have a bug in the translation from P4-14 to P4-16, which won't be very easy to fix. Either way, we need to do something.

[2017-06-06 17:50] ChrisDodd commented on #285
If we allow writes to undefined union elements to affect the header
actually in the union, should we extend that to allowing writes to
undefined headers to affect some (apparently) unrelated header, if the
optimizer has decided it can combine the two headers into the same physical
storage, as they can't be simultaneously valid?

On Tue, Jun 6, 2017 at 10:10 AM, Mihai Budiu <notifications@github.co

[2017-06-06 18:02] mbudiu-vmw commented on #285
If we define the "blast radius" of an undefined write to be unbounded, then people will really have to make sure that they are writing to a defined header - possibly by inserting explicit checks in the code. @jafingerhut : do you want to take ownership of this issue?

[2017-06-06 18:07] jafingerhut commented on #285
@mbudiu-vmw If by taking ownership, you mean writing up a description and sending it out to the p4-design email list and calling for comments, and later a vote after refinement, then yes, I am happy to do that.

If you mean something else, let me know.

[2017-06-06 18:11] jafingerhut commented on #285
@mbudiu-vmw "blast radius"   I like it!    I presume there is probably a more technical term for this in the field of programming language semantics, though :-)  Anyone know what that is?

[2017-06-06 18:11] mbudiu-vmw commented on #285
It means that you will make sure that it is solved.
We should have a separate section to summarize all undefined behaviors for reads and writes.

[2017-06-06 18:14] jafingerhut commented on #284
@antoninbas Is it quick for you to explain the current behavior of add_header and remove_header primitives in p4lang/behavioral-model?

To your knowledge, have either of them ever implemented push/pop-like behavior when applied to an element in a header stack?

[2017-06-06 18:19] #272 closed

[2017-06-06 18:20] mbudiu-vmw commented on #282
Do we want to allow a type like `tuple<>`, with no fields?

[2017-06-06 18:28] jafingerhut commented on #285
@mbudiu-vmw Glad to do it.  I will discuss with @jnfoster to learn his thoughts on proceeding here.

[2017-06-06 22:37] antoninbas commented on #284
I guess bmv2 is conforming to neither P4_14 and P4_16.
Validating / Invalidating header instances in a stack can only be done through the push and pop primitives. Validating / Invalidating a header in the "middle" of a stack will result in some very strange behavior. As an example, if I have a stack of 3 MPLS tags, all of them invalid. If during match-action processing, the tag in the middle (stac

[2017-06-07 05:58] jafingerhut commented on #285
@ChrisDodd wrote: If we allow writes to undefined union elements to affect the header
actually in the union, should we extend that to allowing writes to
undefined headers to affect some (apparently) unrelated header, if the
optimizer has decided it can combine the two headers into the same physical
storage, as they can't be simultaneously valid?

I add the following to that:

And if you are going

[2017-06-07 10:03] jafingerhut commented on #285
OK, sorry if this is getting to the point of spamming people following this discussion, but I wrote up some thoughts on 3 possible options for spec'ing the behavior of assigning a value to a header field within a header that is currently invalid.

The option in my previous comment is called option (1) here, and my current recommended approach.  Option (2) seems not to make an implementation's job

[2017-06-07 19:13] vgurevich commented on #285
@jafingerhut,

The rule you are proposing is really nice, but it will pretty much kill any practical implementation of header unions, because the idea was that the headers that form them  would typically be overlaid. If you write into a header that is a member of a header union that is not valid, it pretty much guarantees corrupting the one that is currently valid.

I am all for safety, but we are

[2017-06-07 20:30] mbudiu-vmw commented on #285
@vgurevich : it is fine to leave the behavior undefined, but we have to say how undefined it is.
And this has nothing to do with unions, the problem is present even just with invalid headers.

[2017-06-07 20:38] vgurevich commented on #285
@jafingerhut ,

One of the things we need to keep in mind is that compiler can have only limited insight into a P4 program. because it cannot (even theoretically) deduce the program's state (i.e. table and extern programming) from the program's inputs and outputs (i.e. packets). That's a fundamental difference between P4 and most other languages, where the internal state can be deduced from the pr

[2017-06-07 21:23] vgurevich commented on #285
@jafingerhut ,

I agree that this problem exists with invalid headers. But I am not sure I understand how to define the undefined or whether it makes sense :)

Let's take an example from C. How undefined is the result of this program:
[code]

I mean, anything can happen, right? Depending on the user input, the program can crash, can work perfectly fine, can corrupt some of the code, can corrupt th

[2017-06-07 21:56] jafingerhut commented on #285
@vgurevich Your example C program uses not only pointers, but casts to pointers, two of the wonderful reasons why P4 doesn't have pointers :-)

My option (2) in the attached file is a bit more lenient in its requirements, and maybe something you would be in favor of.  I will copy it here for easy reference:
[code]

[2017-06-07 22:23] jnfoster commented on #285
Let's take an example from C (Ellison & Rosu, 2012)

[code]

Pop quiz: does running this program always print something to the console?

It's 2017. Please let's not look to C for inspiration about undefined
behavior. It is the source of countless programming errors, billions of
dollars of loss, many security vulnerabilities, etc. We can do better.

-N

On Wed, Jun 7, 2017 at 2:56 PM, Andy Fingerhu

[2017-06-07 22:25] jnfoster commented on #285
Let's take an example from C (Ellison & Rosu, 2012)

[code]

Pop quiz: does running this program always print something to the console?

It's 2017. Please let's not look to C for inspiration about undefined
behavior. It is the source of countless programming errors, billions of
dollars of loss, many security vulnerabilities, etc. We can do better.

[2017-06-08 04:50] jafingerhut commented on #285
@vgurevich Just so I am clear here, is it your preference that if a P4 program attempts to write to any field in any invalid header, whether it is in a header union or not: "the results of such writes are, indeed, undefined and, yes, any other value can be corrupted."

And by "any other value" you mean any header field, whether it is in a currently valid header or not, or any metadata field?

If s

[2017-06-08 05:22] jafingerhut commented on #285
@vgurevich I am really deeply confused here.  You say "predicating each write on header validity." is "very expensive".  Have you read the P4_14 spec definition of modify_field?  This sentence, in particular: "If the parent header instance of dest is not valid, the action has no effect."  Did someone choose not to implement that sentence for the most commonly used primitive operation in every P4_1

[2017-06-09 05:05] vgurevich commented on #285
Sorry for the late reply guys -- I am traveling

@jnfoster,

Yes, it is 2017 in the world of **general purpose processors**, but in the world of P4 processors we are  somewhere in 1950s, limited literally by **bytes** (not gigabytes) of instruction and data memory. So, let's not confuse these two worlds here. If people tried to implement <insert your favorite safe language>  on 1950s hardware, bef

[2017-06-09 09:04] jafingerhut commented on #285
So it sounds to me like we may have one vote for something equivalent to the description below as part of the next P4-16 language specification, regardless of whether header unions are used in the program.  I understand that the C language specification achieves equivalent descriptions in fewer words than this, and we may get 0 votes for copying and pasting this text into the spec :-)

If you atte

[2017-06-09 11:03] SmartHoneybee opened #286 "Question: P4-16 headerUnionDeclaration: definition / appearance"
The definition of `derivedTypeDeclaration` in `p4-16/spec/P4-16-spec.mdk` mentions `headerUnionDeclaration` twice, the definition in `p4-16/spec/grammar.mdk` only once. Why?

In `p4-16/spec/P4-16-spec.mdk`  `headerUnionDeclaration` is defined as:
[code]
but in `p4-16/spec/grammar.mdk` as:
[code]
I'm guessing that the latter is the "correct definition". Is that correct?

Thanks.

[2017-06-09 13:50] vgurevich commented on #285
@jafingerhut,

Your description would definitely work. Let me offer an equivalent description, that might describe what's happening in more familiar terms:

The resources (e.g. memory) required to carry header fields are guaranteed to be allocated only for valid headers. If a header is invalid, those resource should be considered unallocated. Therefore, reading or writing fields of invalid headers

[2017-06-09 16:20] jnfoster commented on #286
Indeed. That looks like a typo (the actual Bison code got copied into the Markdown).

[2017-06-09 19:11] jafingerhut commented on #285
@vgurevich I think your description is better as a rationale for motivating why the undefined behavior could exist.

Another paraphrasing -- you are effectively proposing that all headers and metadata are allocated in a common memory, hdr.setValid() is a C malloc() for the header space that can never fail (if the program compiles successfully), and hdr.setInvalid() is a C free() for that header sp

[2017-06-09 20:22] vgurevich commented on #285
@jafingerhut ,

You got me 100% correctly.

As for the potential to corrupt header valid bits and other special metadata, I think it depends on the implementation, but I'd think it would not be that difficult for a compiler not to overlay valid bits with anything else.

[2017-06-10 03:53] vgurevich commented on #285
@jafingerhut ,

With regards to allocating all headers and metadata in the common memory: This is not something I'd necessarily mandate in the spec. Generally it is true at the low-level, but if the compiler chooses to never use the same memory for headers and metadata (which is easy to do), then logically you can consider those spaces to be separate and the "blast radius" will be greatly reduced.

[2017-06-10 09:34] jafingerhut commented on #285
Are you proposing that the spec should say that writing a field in an invalid header _cannot_ cause metadata fields to change values?  I would have guessed that in your view, that would be restricting an implementer's choices too much.

[2017-06-10 18:24] vgurevich commented on #285
@jafingerhut ,

I am not proposing that writing a field in an invalid header cannot change the values of metadata fields. I do not think this should be mandated.

I only said that if an implementation wants to limit the "blast radius" it can fairly easily do so. But formally speaking non-zero "blast radius" is a non-zero "blast radius", so it's not clear if anyone will feel any better should an im

[2017-06-10 18:32] jafingerhut commented on #285
@vgurevich Maybe I'm off base here, but in my view the language specification should specify the largest blast radius allowed by any implementation that calls itself a conforming P4 implementation.

Unless you want to go to the point of a spec that specifies larger and smaller blast radius effects, and give a name to each one, and recommend that implementations document their blast radius, I do no

[2017-06-10 18:53] vgurevich commented on #285
@jafingerhut ,

The maximum blast radius is all transient data, i.e. headers and metadata, but not the program code and not the persistent state.

[2017-06-10 22:19] jafingerhut commented on #285
@vgurevich If by persistent state you mean things like the table contents that are only matched or read by the P4 program, I agree with you.

There are other kinds of state that persists across the processing of many packets, such as:
+ packet/byte counters, meter state, and register arrays writable from the P4 program
+ any state maintained within other P4 extern objects

While that state might b

[2017-06-11 06:47] vgurevich commented on #285
@jafingerhut ,

I am afraid we need to press the "reset" button, and go back to my original statement (with which I thought you agreeed), because it looks to me that the more clarifications/editorials I provide, the more confusion occurs.

So, I stand by this statement with which I thought you agreed.

I think we should stop there instead of trying to go further and define what "undefined" means (

[2017-06-11 16:02] jafingerhut commented on #285
I am not saying that all of my comments belong in the spec.

Do you agree that your statement logically implies that an incorrect write could result in an arbitrary change to all valid header fields and metadata, including changing it to a packet that violates 'if' conditions already executed in the P4 program?

[2017-06-11 18:57] vgurevich commented on #285
@jafingerhut ,

Yes, I do agree with the statement that writing into an invalid header field might result in an arbitrary change to a valid header or metadata field and as a consequence the packet can get processed in a way different than what the programmer has envisioned. The spec can say that, but it cannot say more, meaning that it cannot describe what this processing can actually be.

[2017-06-11 19:17] jnfoster commented on #285
@vgurevich @jafingerhut

It sounds like this GitHub discussion is not converging. Perhaps we need to have a quick phone call or in-person meeting to hash it out. I would like to be there but am traveling through June 23. Should we plan to talk the following week?

A few reactions:

* I believe we've all agreed to make P4 an unsafe language, at least in the short term, by which I mean that some exp

[2017-06-14 03:26] jafingerhut opened #288 "Question: Use cases for advance?"
If my understanding of a typical parser and deparser behavior is correct, it seems that advance() has very limited use cases, if any.  Even if this is true, I am not here making any suggestions to change the spec -- just an observation that advance() might not be as useful as some may have originally thought.  Does anyone have any suggested use cases for advance()?

My understanding of the common

[2017-06-14 12:51] SmartHoneybee commented on #286
Thank you for responding.

I found some other potential typos while studying the grammar and would appreciate feedback if my interpretation is right.

* `typedefDeclaration` in section 7.3. lists a `name` in `TYPEDEF derivedTypeDeclaration name ';'`, but the P4 grammar (in appendix E) does not (it is just `TYPEDEF derivedTypeDeclaration ';'` there).
 (*Interpretation*: `name` is missing in the P4

[2017-06-14 16:48] mbudiu-vmw commented on #288
We don't have any examples using advance.
Someone asked for it, and it didn't seem like a difficult thing to add, regardless of target.
Also, from a mathematical point of view, this is a reasonable operation to have on streams of bits.

[2017-06-14 19:36] vgurevich commented on #288
@jafingerhut ,

One of the examples for advance() is TLV processing, where you might choose to skip over (drop) an unknown element instead of preserving it. Other than that, the mathematical completeness is a good enough reason for met.

[2017-06-14 20:13] jafingerhut commented on #288
@vgurevich Thanks for the TLV example -- I can see advance being used in a case like that, without needing table lookups to decide that one wishes to discard part of the packet.

[2017-06-14 20:13] #288 closed

[2017-06-14 21:02] antoninbas opened #289 "Possible inconsistency with annotation position"
Annotations on match key elements come after the key element, while in all other cases, it seems that the annotations come before the object they annotate (e.g. struct fields).
Is there a reason for this?

[2017-06-14 21:03] mbudiu-vmw commented on #289
Yes, it is due to the bison grammar.
Putting them in front makes the grammar ambiguous, since the annotation has an optional list of expressions, which could be interpreted as the key expression.

[2017-06-14 23:14] mbudiu-vmw commented on #286
We should fix these bugs. I will submit a PR to correct them.
Thank you.

[2017-06-15 04:11] jafingerhut commented on #286
Thanks, @mbudiu-vmw for the fixes.  There is one remaining occurrence of "derivedTypeDeclarationame" in file grammark.mdk that should be replaced with "derivedTypeDeclaration".

[2017-06-15 09:22] SmartHoneybee commented on #286
Awesome, thank you for the timely responses.

When is the next P4<sub>16</sub> specification release scheduled? (I.e. when will those changes become part of a published specification version?)

[2017-06-15 12:17] SmartHoneybee commented on #286
Actually, I just stumbled over something else: in section 6.3.1. `name` is define as:
[code]
but the P4 grammar defines it as:
[code]

[2017-06-15 16:42] mbudiu-vmw commented on #286
I believe that as soon as the change is merged a new version is pushed automatically.
Since these are just bug-fixes we don't need a more complicated process.

[2017-06-17 04:13] jnfoster commented on #286
That's not quite right. We allow the repository to be updated automatically
when any of the key committers merge a pull request, but the official spec
is only updated by hand. We could consider having a pointer to the "live"
version of the spec, but the current web page only lists version 1.0.0.

http://p4lang.github.io/p4-spec/

I'd like to release a minor typo/bugfix version later this summer. T

[2017-06-19 10:44] SmartHoneybee commented on #286
A new patch/minor version later this summer does sound good.

Maybe something else to include:
[code]
in section 12.2.1.4. versus the P4 grammar:
[code]

[2017-06-19 17:28] #289 closed

[2017-06-22 14:06] jafingerhut commented on #285
@jnfoster @vgurevich @jafingerhut had a discussion on this issue, and how to proceed.

It seems wise to bring up this issue to the P4 language design work group during its next meeting, given the significance of how different approaches can affect P4 implementations, and developers writing P4 programs.  That would give us time to collect more data on the prevalence of assigning to fields in header

[2017-06-23 11:51] SmartHoneybee commented on #286
`entryList` in `entriesList` does not exists. (I guess this is supposed to be `entriesList` as well.)

By the way: fell free to close if you think all issues addressed here are fixed.

Thanks for your work.

[2017-06-23 14:17] jafingerhut commented on #286
If someone felt inclined to do so, it would be nice if there were a program that extracted all of the fragments of the grammar within P4Grammar begin / P4Grammar end lines in the P4-16-spec.mdk, and compared it to the contents of grammar.mdk, reporting any differences.  Such a program would need to be able to allow the grammar rules to be in different orders, and still report no problems if the sa

[2017-06-23 16:36] cc10512 commented on #286
Or make it work with the [file fragments include](http://madoko.org/reference.html#sec-includefrag) in madoko.

[2017-06-23 18:15] mbudiu-vmw commented on #286
It looks to me like @SmartHoneybee is doing exactly this, by hand.
The golden standard for the grammar is really the compiler implementation.
Unfortunately the corresponding file in the compiler source tree `frontends/parsers/p4/p4parser.ypp` is much more complicated due to semantic actions, and it also has some additional experimental features currently not part of the official spec.

[2017-06-23 18:26] jafingerhut commented on #286
@mbudiu-vmw I agree that a simple tool to auto-compare the compiler's grammar and grammar.mdk would not be easy -- I did a tkdiff / Emacs ediff between the compiler version and grammar.mdk and found the experimental things you refer to in the compiler, but it does make ignoring the C/C++ code in the Bison rules easier to ignore visually.

@cc10512 I didn't know about Madoko's file fragments featur

[2017-06-23 18:44] cc10512 commented on #286
It does have a BEGIN/END feature to mark sections. Unfortunately they will show up in the overall grammar.mdk, which you don't want. Also because of the typesetting as code, it is not that easy. Ideally, one would have a grammar_markup.mdk that defines the fragments which get included and is a base to generate a clean version of grammar.mdk.

[2017-06-23 18:52] ChrisDodd commented on #286
Fragments can be nested, so you would have a WholeGrammar "fragment" that
you use when you want the whole grammar with all the fragment markers
stripped out.

On Fri, Jun 23, 2017 at 11:44 AM, Calin Cascaval <notifications@github.com>
wrote:

[2017-06-23 20:00] tomrodeheffer opened #294 "Width declaration a compile-time known value or an integer literal"
In P4_16 Language Specification 2017-05-22, Section 7.1.6.2 says:

There is a similar statement in Section 7.1.6.3 regarding signed integers.

Section 16.1 gives an enumeration of productions of compile-time known values, including:

Great, I thought.  I can write

[code]

But alas, this does not conform to the grammar in Section E, where it says:

[code]

That is, the grammar insists that the wid

[2017-06-23 20:08] jnfoster commented on #294
Good catch and I totally agree.

Several data structures and early compiler passes will need to be changed. For example, the current [IR](https://github.com/p4lang/p4c/blob/master/ir/type.def#L81) doesn't even allow `size` to be an expression.

[2017-06-23 20:59] mbudiu-vmw commented on #294
We have issue https://github.com/p4lang/p4c/issues/47 to track this; at some point we had an implementation supporting arithmetic in bitwidths, but it didn't make it to the current version of the spec/compiler. In fact, this is one reason that the compiler does constant folding before type-checking.
The discussion for the issue above describes some problems with the actual implementation, includin

[2017-06-23 21:42] tomrodeheffer opened #295 "Anomalous non-use of optAnnotations in grammar"
In P4_16 Language Specification 2017-05-22, Section E contains the production:

[code]

which makes it convenient to emplace optional annotations into all the different places in the grammar in which they can appear.  However, there are a few places in the grammar that anomalously decline to use this convenient non-terminal, namely:

[code]

[code]

[code]

Now, the fourth alternative for `typedef

[2017-06-23 22:01] mbudiu-vmw commented on #295
We have fixed the typos in the master document, but we haven't yet released the new pdf/html. I think that we should rebuild the pdf/html for such small bug-fixes.

Unfortunately simplifying some of these productions with optAnnotations makes the grammar ambiguous. The grammar could be much nicer without bison limitations. It looks like we can simplify the typedef production, though.

[2017-06-23 22:05] jnfoster commented on #295
Good point. We can post an official live "master" version on
p4lang.github.io. I'll take care of this.

-N

On Fri, Jun 23, 2017 at 3:01 PM, Mihai Budiu <notifications@github.com>
wrote:

[2017-06-23 22:11] mbudiu-vmw commented on #295
I will submit a PR to change the grammar for typedef.
I have tried the other two changes on the bison file (frontends/parsers/p4/p4parser.ypp) and they both produce lots of shift/reduce conflicts. We have chosen to use the real bison grammar in the spec (minus some very important missing pieces, like priorities and the lexer) so that we are sure that it is implementable using bison.

[2017-06-24 03:26] jnfoster commented on #294
Okay, but we should still make the spec internally consistent. @mbudiu-vmw, which do you prefer: generalize the grammar (beyond what we currently implement) or restrict the informal description?

[2017-06-24 18:12] mbudiu-vmw commented on #294
It is a question of time really. If someone signs up to work on issue 47 soon we can change the spec. It wasn't the highest priority item. My estimate for this is about 1.5 days of work. The most unpleasant part is writing a new set of productions for custom expressions in the grammar.

[2017-06-24 23:17] jnfoster commented on #294
We need to change the spec either way -- it's internally inconsistent.

-N

[2017-06-25 00:23] SmartHoneybee commented on #286
Yes, these errors where found 'by hand' (that is while reading the specification).

The statement that [`p4c`](https://github.com/p4lang/p4c) (That is the compiler you, @mbudiu-vmw, are referring to, right?) defines the standard and not the specification unsettles me. Why publish something called language specification if what really defines the language is still considered 'alpha-quality'? `</bik

[2017-06-25 22:17] jnfoster commented on #286
Don't fret: p4c aspires to be a reference implementation, but where there
are a discrepancies, the spec is definitive.

Thanks for the script!

-N

[2017-06-25 23:39] hanw opened #297 "[PSA] Typos in psa spec"
"pipleline" -> "pipeline"
"templetized" -> "templatized"  (root English word is "template")
"NORMALINSTANCE_" -> "NORMAL_INSTANCE" ?
"ingres," -> "ingress,"
"bit<56>" -> "bit<16>" in example usage of hash function. A crc16 has
    a 16-bit output, not a 56-bit output.
"ivoked" -> "invoked"

[2017-06-25 23:39] hanw opened #298 "[PSA] incorrect p4-16 syntax"
This is not correct P4_16 syntax, according to the latest p4c-bm2-ss
as of 2017-Jun-16:

    typedef enum { NORMALINSTANCE_, CLONE_INSTANCE } InstanceType_t;

Perhaps use this instead?  It allows values to be defined later with
type "InstanceType_t".

    enum InstanceType_t { NORMALINSTANCE_, CLONE_INSTANCE }

[2017-06-25 23:40] hanw opened #299 "[PSA] ambiguous statement"
What does this statement mean?

    "The PSA offers flexibility in defining the user metadata,
    however, one may chose to use a common metadata types for subsets
    of the objects."

[2017-06-25 23:42] hanw opened #300 "[PSA] clarify PRE & BQE's description on constructor"
"It is an error to instantiate the PRE multiple times."  From later
text, it appears that PRE is an extern object with no constructor, so
it cannot be instantiated by the user's P4 program.  It seems much
clearer to instead say: "The PRE extern object has no constructor, and
thus it cannot be instantiated in the user's P4 program.  The
architecture instantiates it exactly once, without requiring t

[2017-06-25 23:44] hanw opened #301 "[PSA] Clarify the note on extern implementation"
What does the paragraph below mean?  Does it have any effect on how a
user writes P4_16 programs using psa.p4, or is it only intended to be
a note to implementers?

    Note: some of these operations may not be implemented as primitive
    operations on a certain target. However, All of the operations can
    be implemented as a combination of other operations. Applications
    that rely on non-pr

[2017-06-25 23:45] hanw opened #302 "[PSA] Drop semantics"
For the text below defining the behavior of the drop operation, if the
intent is that any side effects from invoking other extern method
calls (e.g. counter updates, meter updates, register writes) that are
in the ingress control block after the drop operation is invoked still
occur, then it would be best to say that.  Also good to specify that a
packet dropped in ingress will never execute code i

[2017-06-25 23:45] hanw opened #303 "[PSA] Unit of truncate operation"
The sentence below describing the truncate operation should specify
the units of the length, e.g. bits?  bytes?

    "The length parameter represents the packet length."

[2017-06-25 23:46] hanw opened #304 "[PSA] send_to_port() operation in BQE"
Why is there a send_to_port() operation defined for the BQE?  I would
have guessed that for the PSA, the egress port is determined during
ingress (via an ingress send_to_port() call for unicast packets, or
for multicast packets, each copy's output port is determined by the
PRE and how its multicast groups have been configured by the control
plane).  The packet scheduling algorithms that select whi

[2017-06-25 23:47] hanw opened #305 "[PSA] question on random hash algorithm"
Regarding this question: "are random hash algorithms useful?"  It is
not clear to me what is meant by a random hash algorithm.  If you mean
"a random value that is independent of the content of the packet and
its metadata", then that sounds like a pseudo-random number generator,
which is useful for things like implementing RED and similar
algorithms with randomized choices.  If you mean a hash alg

[2017-06-25 23:48] hanw opened #306 "[PSA] Hash function"
Section on "Hash function".  There is no description of what the 'max'
parameter of getHash does.

If the intent is for hashes and checksums to share the type
'HashAlgorithm', then HashAlgorithm should have the 16-bit 1's
complement checksum used by the IPv4 header to its choices.

The spec might want to note that 'remove' will only work for some hash
functions, and not others, e.g. it is easy to

[2017-06-25 23:50] hanw opened #307 "[PSA] counter size S"
For counters that have a number of counters that is an exact power of
2, e.g. 1024, a single type S that is bit<10> is just right for the
'index' parameter to 'count', but it is 1 bit too small for the
'n_counters' parameter of the constructor.  Might be good to have a
separate type for the 'n_counters' paremeter?

[2017-06-25 23:51] hanw opened #308 "[PSA] count() operation on counters"
For a 'bytes' or 'packets_and_bytes' counter type, count() having a
second parameter 'increment' that specifies how much to add to the
byte counter is a very good thing.  It is best if the P4 program has
the flexibility to choose the length in bytes it wants to use for the
packet, e.g. in case it is increasing or decreasing the received
packet's size before transmitting it.

For counters that have

[2017-06-25 23:51] hanw opened #309 "[PSA] counter control plane API"
The behavior of the control plane API calls should be documented.

What is the intended meaning of 'sync_read'?

What do control plane calls 'start' and 'stop' do?

[2017-06-25 23:52] hanw opened #310 "[PSA] alternative name on counter operations"
Suggested alternate names, if I understand the meanings correctly:
'write' instead of 'set'.  'clear' instead of 'reset'.  A
'read_and_clear' atomic operation is very common for counters, and
should be considered for addition, unless one of the other operations
is intended to do that.

[2017-06-25 23:52] hanw opened #311 "[PSA] Direct counter"
If direct counters with a byte count are intended to be supported, it
should be specified what byte count is used for a packet.  Note:
Someone will be unhappy with the choice in at least some situations,
no matter what you choose.  You could recommend using simply packet
counters if they don't like the specified choice, or use an explicit
counter that is not direct, where they get to choose the le

[2017-06-25 23:54] hanw opened #312 "[PSA] packet length for meter execute()"
For meters, the length of the packet used for meters with type 'bytes'
must be specified.  Even better, add a 'length' parameter to the
'execute' call that lets the P4 program author choose what length to
use.  That will lead to the same issue for direct meters as was
mentioned for direct counters above, with the same solution -- don't
use direct meters when you want to choose a custom length.

[2017-06-25 23:55] hanw opened #313 "[PSA] Random distribution enums"
"PRNG" as a choice for "RandomDistribution" doesn't mean anything to
me.  "Uniform" has a well-defined meaning in pseudo-random number
generation, and seems a better name to use, if that is what "PRNG" was
intended to mean.  I have commented before elsewhere that supporting
_only_ uniform seems quite reasonable.  If a P4 program writer wants a
non-uniform distribution, there are multiple ways to a

[2017-06-25 23:56] hanw opened #314 "[PSA] programmable block metadata"
In the section on 'Programmable blocks', it would be best if the
following things were specified explicitly.

+ The original value of fields inside 'user_meta' when the Parser is
  invoked.  Are they all undefined?

+ Is every field of 'hdr' and 'user_meta' given as input to
  VerifyChecksum supposed to be identical to the result output by
  Parser?  If so, best to say it explicitly.  Similarly fo

[2017-06-25 23:56] hanw opened #315 "[PSA] consistent naming convention"
It would be really nice if the authors could standardize on the naming conventions. Why there types, named PortId_t, entry_key (without _t) and psa_parser_input_metadata_t? if everything is PSA-specific, then let's use psa_ everywhere. If we want to use "_t" for types, let's be consistent. Also, it would be nice if we can establish some conventions with regards to case CamelCase, underscores, etc.

[2017-06-26 00:09] hanw opened #316 "[PSA] "write only" methods"
"Write-only" methods. This particular choice will force most programs (except for the trivial ones) to keep separate metadata to keep track of the port/multicast_group/drop decisions and use these primitives only at the very end of the ingress control. For example, very often an ACL might want to match on an egress port for a unicast packet. Or, sometimes, an ACL might want to reverse a drop() dec

[2017-06-26 01:21] hanw opened #317 "[PSA] What if no valid forwarding operation is specified?"
What happens if neither send_to_port(), nor multicast(), nor drop() are called?

What happens if port, specified in send_to_port doesn't exist on a given device?

[2017-06-26 01:22] hanw opened #318 "[PSA] relationship between ingress_out_metadata_t and PRE"
The relationship between psa_ingress_output_metadata_t field egress_port  and PRE is quite unclear. Perhaps, it's an oversight and should have been removed

[2017-06-26 01:23] hanw opened #319 "[PSA] semantics of egress_input_metadata_t and PRE."
Semantic of EgressInstance_t and the corresponding field in psa_egress_input_metadata_t is not defined. For example, what's the value for a non-multiacst packet or for a clone?

[2017-06-26 01:23] hanw opened #320 "[PSA] clone() and resubmit() operation semantics"
The semantics of port argument in clone() and resubmit() operations is not clear

Given that PRE is not passed to the egress control, it is totally not clear how egress cloning or recirculation is going to work

[2017-06-26 01:24] hanw opened #321 "[PSA] cpu_port semantics"
What does "send to CPU" mean? (CPU_PORT semantics)

[2017-06-26 01:25] hanw opened #322 "[PSA] getHash() base and max arguments."
It would be nice if the behavior of getHash() could be specified more formally. What is "base", what is "max", how are they used? The usage example (BTW, is it really allowed to instantiate hash engine in the parser?) does not match the definition of the extern. Also, it is not clear how a 56-bit hash can be generated using crc16 algorithm.

[2017-06-26 01:25] hanw opened #323 "[PSA] index out-of-bound error"
Indirect counters, meters and registers. What happens if index is out-of-bounds?

[2017-06-26 01:25] hanw opened #324 "[PSA] meter and register initial state"
Meters and registers: what's the initial state?

[2017-06-26 01:26] hanw opened #325 "[PSA] rename packet generation to digest generation"
Section 11: Packet Generation should probably be renamed to "Digest generation" or something like that.

[2017-06-26 01:26] hanw opened #326 "[PSA] Parser enums"
ParserStatus_t -- how exactly it relates to the predefined "error" type?
What is ParserErrorLocation_t?

[2017-06-26 01:27] hanw opened #327 "[PSA] checksum errors"
Based on the definition, checksum errors need to be passed to the ingress control independently, using a mechanism, separate from ParserStatus_t. Is that correct?

[2017-06-27 00:09] jafingerhut commented on #316
I think a better name to describe this isn't "write only", but "cannot be undone".  From all appearances in the spec, if you do a drop() action, it cannot be undone later.

I am sympathetic to @vgurevich's desire for defining what happens to a packet via explicit metadata fields.  Such fields would be both readable and writable throughout the ingress control block, and actions could be 'undone' if

[2017-06-27 00:14] hanw commented on #297
Fixed with #328

[2017-06-27 00:14] #297 closed

[2017-06-27 01:05] cc10512 commented on #316
Most of the functions in the PRE do allow 'undo' by simply setting a new value to the port/group/etc. And since you are setting a port/group/etc to a value, that value comes from variable that one can match against (or a constant). The style of programming that you give as an example encourages using global structures that the architecture needs to maintain in metadata -- for all the metadata poss

[2017-06-27 01:57] jafingerhut commented on #316
Whether all of these things are in visible metadata fields, or in 'hidden state' inside of the PRE object, the state is 'global to the ingress control block'.  Neither approach localizes this state more than the other, as far as I can tell.  One approach makes the state accessible only via method calls, the other via metadata variables.

That said, I don't know of a strong need to reverse drop dec

[2017-06-27 03:38] cc10512 commented on #316
Yes, in the end it is a matter of taste. It would be great if other folks express their opinions one way or another and we can vote on the direction if we can not reach consensus online.

[2017-06-27 06:24] ChrisDodd opened #331 "'int' type"
Section 7.1.6.5 talks about the type `int`

However, the grammar in the appendix does not recognize `int` as a type (only `int<` *integer* `>`).  P4_14 (v1.1) used `int` in declarations of extern functions where the argument needed to be a constant and had no particular bitsize.  Should something similar be allowed in P4_16?  What exactly does it mean -- an argument that must be a compile time con

[2017-06-27 06:28] jnfoster commented on #331
@mbudiu-vmw should weigh in, but I believe this is intentional. `int` is not a type the programmer can write down, just an internal type used by the compiler. If that understanding is correct, the text should be tweaked to clarify.

We define compile-time known values precisely at the start of Section 16. Would it help to add a link or would that just add clutter?

[2017-06-27 18:09] ChrisDodd commented on #331
In that case, we should probably remove "This type is written as int", as that suggests `int` can be used to denote the type.  Its not clear what, if any, connection there is to section 16 compile-time known values.

[2017-06-27 18:14] ChrisDodd commented on #331
The place this comes up is things the 'index' arguments to counter/meter methods.  In v1model.p4, these are generally defined as `bit<32>`, which generally means that the user needs to explicitly cast the argument they use to `bit<32>` if it is of some other type (which it often is if it comes from an action parameter).  It would be nice if there was a way to define an extern that "just worked" wi

[2017-06-27 18:52] tomrodeheffer commented on #331
And then there are constant declarations.

A constant declaration does not construct a P4 runtime value, but rather a P4 compile time value.  So there is no reason why you should not be able to write a constant declaration of type `int`, for example:

[code]

which would then permit the programmer to use `threshold` everywhere in the P4 program where formerly there occurred the magic constant `153

[2017-06-27 19:36] tomrodeheffer opened #332 "reserved keyword used as variable name in Appendix C"
In P4_16 Language Specification 2017-05-22 Appendix C there are are several P4 code fragments that use the reserved keyword `header` as if it could be a variable name:

[code]

[code]

[code]

This is completely bogus.  Just about any other identifier would do in these fragments, for example `h`, or `p` as is used in Section 5.

[2017-06-27 22:07] jnfoster commented on #331
That's a good observation. Indeed, it'd be fine to allow `int`s as constant
declarations.

On the other hand, if one wanted to play devil's advocate, one could argue
against allowing this for the sake of uniformity -- in general we've tried
to keep the set of types as orthogonal and composable as possible. Having a
type that could only appear with a `const` preceding would go against that
principl

[2017-06-27 22:13] jnfoster commented on #332
Indeed. This is not legal P4_16. I've made a pull request (#333).

[2017-06-27 22:18] vgurevich commented on #316
There are a couple of issues at hand:

1. Functional completeness. To me, every time I see set() without a get() and reset() it is usually a red flag
2. Efficiency. More complex programs that also need more resources will be required to carry extra metadata and execute additional code at the end to perform the resolution and call the required methods at the very end of the pipeline. Yes, I know th

[2017-06-28 01:03] jafingerhut opened #334 "[PSA] Should PRE be defined to have multiple class-of-service queues per output port?"
It is a relatively common feature for a queueing system to have multiple queues per output port, not merely one queue per port.  Perhaps the PSA could have a constant that is part of the architecture spec, that could vary across implementations, that gives the maximum number of queues per output port, and a way to specify not only which output port a packet is enqueued for after ingress, before eg

[2017-06-28 01:07] jafingerhut opened #335 "[PSA] Make queue lengths readable, at least from ingress control block"
Motivation: INT (Inband Network Telemetry) can make use of this, by reading the length of the PRE target queue for a packet before it is enqueued, and put that length into a field in the packet header, for use by later data collection.

Open questions: What should the units be?  packets only?  bytes only?  both?  In units of 'cells' (an implementation detail in some packet buffers, where the packe

[2017-06-28 01:17] jafingerhut opened #336 "[PSA] Make packet arrival time readable in standard way"
This is useful for things like INT, and other features.

I think it might be non-controversial to make at least the time that the packet arrived at a system, or perhaps the time that it started being parsed, available in a standard location, e.g. a metadata field.  It would probably be nice if a separate value were also available in egress processing, indicating the time the packet started egress

[2017-06-28 05:06] #332 closed

[2017-06-28 06:01] jafingerhut opened #337 "[PSA] Parser value sets in PSA even possible without modifying P4_16 spec?"
@vgurevich You mentioned the idea of adding parser value sets to the PSA during the p4-arch meeting on 2017-Jun-26.  I reviewed the part of the P4_14 spec on those, which had no examples, so I looked in the p4lang repositories and found only these examples in test programs:

* https://github.com/p4lang/PI/blob/master/tests/testdata/pragmas.p4#L19-L28
* https://github.com/p4lang/behavioral-model/bl

[2017-06-28 06:05] cc10512 commented on #337
@jafingerhut did you also see this discussion: https://github.com/p4lang/p4-spec/issues/65? I believe that the thought is to encapsulate that proposal into a standalone extern.

[2017-06-28 06:35] jafingerhut commented on #337
I had not seen that discussion before, but I have read through it now.  It isn't clear to me which of the alternatives discussed in that issue was decided to be implemented.  Also, it isn't clear that whatever was decided upon in that discussion actually made it into the spec.  Do you know?

[2017-06-28 07:04] cc10512 commented on #337
I believe the compiler currently supports having a set<T> type and using a member function to select on. AFAIK, he implementation is what @mbudiu-vmw posted here: https://github.com/p4lang/p4-spec/issues/65#issuecomment-256967699.

[2017-06-28 14:24] jafingerhut commented on #337
If that is intended to work, then I think it would be a very good idea to mention it somewhere in the P4_16 spec.  It is quite easy to take away from the P4_16 spec that every set expression in a 'transition select' statement is a compile time constant expression.

[2017-06-28 16:02] jnfoster commented on #337
@jafingerhut, I could be wrong, but my recollection of the "Option 1" we settled on in #65 did not include relaxing the language to require support for expressions as labels. (Although we left the door open to exploring that in the future.) @mbudiu-vmw should confirm.

So for a strictly spec-compliant and portable implementation, you'd have to do the somewhat tedious plumbing shown in Mihai's earl

[2017-06-28 16:15] jnfoster commented on #336
I agree.

[2017-06-28 16:20] jnfoster commented on #335
@cc10512 and @vgurevich should correct me if I'm wrong, but one choice that was made in early design discussions for PSA was to only expose an abstract notions of port specification. Of course, in reality, these "ports" might be mapped by the target onto a physical port, a LAG, a multicast group, etc. And that mapping lies outside of the scope and control of PSA.

It's worth considering whether we

[2017-06-28 16:20] jnfoster commented on #334
See my comment on #335

[2017-06-28 16:35] jafingerhut commented on #335
Maybe I'm not thinking big enough here, but it sounds challenging to try to 'hide' the existence of LAG from a P4 program on a switch.  I had perhaps naively assumed that every P4 program that wanted to support LAG would need an explicit table or 2 to handle that feature, and select a physical output port explicitly for every packet.

[2017-06-28 16:49] mbudiu-vmw commented on #337
One cannot have variables of type set even in theory.
Currently the compiler does not handle side-effects in select labels, and the bmv2 backend requires constant labels.

[2017-06-28 17:43] jafingerhut commented on #337
As a follow-up to my earlier comment, the P4_16 v1.0.0 spec does already say this: "Some targets may require that all keyset expressions in a select expression be compile-time known values."  I haven't noticed any place yet where it explains how one might construct a select expression that is not a compile-time known value, but as @mbudiu-vmw said, perhaps the spec does not include any such ways t

[2017-06-28 17:44] jnfoster commented on #337
The grammar allows arbitrary expressions as labels to selects.
[code]

[2017-06-28 17:57] jafingerhut commented on #337
@jnfoster So are you saying that you believe that the P4_16 v1.0.0 spec does allow a program fragment like the one in this comment, where a key expression could be <extern_object_name>.<extern_method_name>()?  https://github.com/p4lang/p4-spec/issues/65#issuecomment-256967699

[2017-06-28 17:57] hanw commented on #337
Just putting a concrete example here, following example works with p4test.
[code]

[2017-06-28 17:59] jafingerhut commented on #337
@hanw @jnfoster Looks like Han answered my question as a definite "yes", although I fully realize that being accepted by "p4test" doesn't necessarily imply today that it is accepted by p4c-bm2-ss and implemented in bmv2.

[2017-06-28 18:02] vgurevich commented on #336
+1

In terms of details, I think we should define a standard type, e.g. timestamp_t (or whatever, pending the discussion on naming convention) that each vendor can define as bit<N>.

I am not sure whether standardizing N or the precision will be feasible, but, as @jafingerhut suggested, we can agree that an implementation should provide a couple of functions, to convert a platform-specific time in

[2017-06-28 18:03] jnfoster commented on #337
I think Mihai answered the other question "the bmv2 backend requires constant labels". Obviously this could be changed if someone was inspired...

And yes, we don't need to change P4_16 itself to include something like ValueSet in PSA and have it be useful...

[2017-06-28 18:04] jnfoster commented on #336
I know Hakim Weatherspoon at Cornell has thought about this issue (his group had a demo at the May 2017 P4 Workshop). We could ping him for his input.

[2017-06-28 18:09] jafingerhut commented on #336
@vgurevich Note that the P4_16 spec explicitly allows an implementation to only permit multiplication and division by compile-time constants that are a power of 2 (i.e. equivalent to shifts of a bit vector).  That is not enough to permit one to convert nanoseconds to microseconds, for example.  If some RFC somewhere suggests or requires having time values in units that are not power-of-2 related t

[2017-06-28 18:16] vgurevich commented on #336
@jafingerhut

Perhaps, I was not specific enough: an implementation should provide a couple of *extern* functions that would perform the conversion.  I do understand that we do not have multiplication/division. I thought that's what you suggested in the last sentence as "built-in conversion functions".

[2017-06-28 18:24] vgurevich commented on #337
I guess, I'll rest for a while :), but, @jafingerhut , if you like perhaps we can have an offline discussion :)

[2017-06-28 18:35] jafingerhut commented on #336
@vgurevich Agreed.  You said that only converting to/from nanoseconds might be enough.  I am suggesting that it might not be enough to be useful for existing standards.  I don't have a particular standard in mind, but can look for one if we need motivation.

[2017-06-28 18:36] hanw commented on #336
The counter values (timestamp) also need to be synchronized among multiple devices (and to an external reference clock) for them to be meaningful. AFAIK, the synchronization is done using the clock counter incrementing at local clock speed. Maybe we should consider PTP as a motivating example.

[2017-06-28 18:39] jafingerhut commented on #336
@hanw I know I often advocate for more stuff to be controllable from P4 rather than less, but I would suggest that whether synchronization between devices like PTP is performed or not should be implementation-specific, i.e. a PSA implementation is not required to implement time synchronization between devices.  Cycle-granularity time stamps can be useful for _some_ applications even without tight

[2017-06-28 18:46] vgurevich commented on #336
I hear you, @jafingerhut

I would think that providing either function (i.e. unit2ns() or unit2us()) to work *at runtime* would probably be very difficult. In other words, if your ingress timestamp comes in some platform-specific units, but your protocol forces you to output that (or a difference of two timestamps) in microseconds or nanoseconds, then you would probably be screwed unless you can r

[2017-06-28 18:55] hanw commented on #336
@jafingerhut At a risk of side-tracking the original question, I believe PTP can be implemented in P4, if PSA exposes the capability to update the local free-running counter with a P4 program. To me, exposing read/write capability to the local free-running clock counter is sufficient to both timestamping and clock synchronization applications.

[2017-06-28 18:59] cc10512 commented on #336
I am concerned of prescribing a certain bit precision for the timestamps, since it may make the mapping to targets harder. Shouldn't this be a target specific type? That is, a type that needs to be defined by the target backend that implements PSA.

Sounds like if we define this as an extern it will be part of the library of externs we discussed on Monday. However, I would like to avoid introducin

[2017-06-28 19:18] jafingerhut commented on #337
@vgurevich I believe that the result of this discussion is that you got what you wanted in the P4-16 spec, i.e. the ability to write code for parser value sets like in the example above by @hanw.  If we define a ValueSet extern in the PSA, and agree on its methods and at least part of its control plane API, we should be done with this issue.

[2017-06-28 19:22] jafingerhut commented on #336
@hanw At the further risk of additional sidetracking, I would guess that implementing the time synchronization methods you are thinking of will require multiplication and/or division by arbitrary quantities that are not powers of 2, and a particular ASIC that is near and dear to both you and @vgurevich might not be able to do those, from his comments.

[2017-06-28 20:29] vgurevich commented on #337
I agree, that as it was previously discussed,  it is possible to construct an extern that will do the job (albeit slightly differently from P4_14 way) without any changes to the language. I believe that final proposal was slightly different from what @hanw put above (his code looks more like the initial proposal to me).

Specifically, the idea was to have an extern that will consume some number of

[2017-06-28 20:40] hanw commented on #337
@vgurevich Is this example closer to what you had in mind? (from p4c/testdata/p4_16_samples/value-sets.p4)

[code]

[2017-06-28 23:50] vgurevich commented on #337
@hanw ,

This one represents an intermediate option that was discussed and later rejected. Here is the code that represents what we agreed to finally.

Not that I am super in-love with it (the code is a little cumbersome and will require compiler optimization), but that's the only way we found so far to make sure the feature can be implemented relatively efficiently and without unnecessary HW depe

[2017-06-29 00:13] hanw commented on #337
With some clean up on the extern definition, here is what a `value_set` looks like.
[code]

This is also another motivating example for issue #331 that it would be nice to allow user to use `int` as a type for constants.

[2017-06-29 01:01] vgurevich commented on #337
Thanks, Andy!

I totally agree that `bool` is cleaner.

I am still not quite sure, but it feels to me that the constructor need to be templated(ized?) by the same type that will be passed into the is_member() method. The reason is that this constructor is going to do resource allocation and the width of that type D is an important input to that allocation.

[2017-06-29 01:15] hanw commented on #337
The compiler grammar does not require typeParameter on constructor method prototype.
[code]
gives a frontend parsing error.
[code]

But since we do not support `int` as a type yet, we will have to do either:
[code]

or
[code]

[2017-06-29 01:25] vgurevich commented on #337
@jafingerhut

I like the last option the most. It just seems weird that the types are present in the first line of the extern definition, but not in the constructor itself, even though we then use them to call that constructor...

[2017-06-29 02:27] jafingerhut commented on #337
I understand getting Andy Keep and Andy Fingerhut mixed up (both from Cisco, even!), but @hanw may start wondering who you are conversing with :-)

[2017-06-30 00:18] jafingerhut commented on #303
Other questions that should be answered in the PSA spec, I think:

I will assume here that the unit of the truncate() operation is in bytes, and can be any number of bytes.

If one calls truncate(64) in the egress pipeline (if it is even allowed in the egress pipeline), does that mean that the entire packet as sent out of the deparser will be at most 64 bytes, even if that would chop it off in the

[2017-06-30 00:20] jafingerhut commented on #306
Is it reasonable to proceed on issues like this one by opening a pull request with proposed changes to the text, and let the discussion be on the PR?

[2017-06-30 00:27] jafingerhut commented on #317
"What happens if port, specified in sent_to_port, doesn't exist on a given device?"

Sorry, I can't resist proposing (1) as a straw man.  Too much discussion of undefined behavior in P4_16 ...

(1) The device's behavior is undefined, and it does not have predictable behavior until it is reset.

(2) the packet goes out a port number with an undefined value

(3) the packet is discarded, and an imple

[2017-06-30 01:11] vgurevich commented on #317
I am totally in favor for safely dropping a packet if nothing has been specified. It basically means that the semantics of an empty P4 program is defined (as a blackhole). This is the safest option. Counters are fine, but optional. The most critical thing is that there are no adverse consequences.

Same way, I think it would be nice if we mandate that sending a packet to a non-existent port is als

[2017-06-30 01:56] vgurevich opened #339 "[PSA] "reject" state semantics"
P4_16 spec leaves the semantics of the "reject" state up to the architecture, so we need to define it.

Options:
1. Packets that reach "reject" state are dropped (with an optional counter or counters per error)
2. Packets that reach "reject" state are not dropped, but instead proceed to the ingress control that can choose to drop a packet, ingrement a counter, etc., based on the parser error that

[2017-06-30 02:09] vgurevich commented on #335
@jafingerhut ,

You are correct -- this is a subject that will be difficult to avoid. While unicast LAG/ECMP can be fairly easily expressed using either pure P4_16 or a well-understood externs (e.g. "calculate hash"), the multicast context is a totally different beast. There are several ways how you can multicast to a LAG or an ECMP group and we will have to decide, whether PRE should be LAG- and

[2017-06-30 04:04] jafingerhut commented on #335
I have heard Tom Edsall tell a story of visiting Scott Shenker's class to give a guest lecture on networking, and afterwards a student asked 'how would that work for multicast', and Scott Shenker said something like 'The quickest way to ruin any perfectly good networking conversation is to ask about multicast.'

I don't have encyclopedic knowledge on this topic, but I think the best that anyone kn

[2017-06-30 04:10] jafingerhut commented on #335
And to be explicit, packets going to a PRE multicast group would not get back any usable results if they tried to read the current queue length of a multicast group, so they shouldn't bother trying.

[2017-06-30 06:26] vgurevich commented on #335
@jafingerhut , I totally feel you. The problem is that "basic L2 switching" typically requires (at least) the ability to flood broadcast/unknown unicast/unknown multicast packets to a VLAN, which is basically multicasting and VLANs are also known to contain not only just ports but LAGs. And, of course, once we transition into VXLAN and similar areas, then everything goes up a level (i.e. LAGs are

[2017-06-30 14:27] jafingerhut commented on #335
@vgurevich Isn't providing a PRE with multicast groups with 2 or 3 'levels of hierarchy', where the leaves are physical ports, a fairly good primitive here?  Maybe as an extension some implementation could choose to do LAGs at the leaves instead of physical ports, but that would be an optional extension over and above the basic PSA requirements.  The 2 or 3 levels of hierarchy in the lists in the

[2017-06-30 21:47] tomrodeheffer opened #340 "errors in P4_16 Example architecture description"
In p4-16/spec/P4-16-spec.mdk section "Example architecture description"  there is the example:

[code]

This example contains several errors:

- On the `package Egress` line, the last word is `Port`.  This word should not be present.

- The definitions of `package Ingress` and `package Egress` are incorrect.
  - Notice that `package Ingress` does not use its type argument `T`.
  - Notice that `pac

[2017-07-01 00:19] jnfoster commented on #340
Sigh. I just looked at the commit logs and this wasn't touched since the
initial translation from MS Word to Madoko.

Thanks for the bug report. We'll patch it up.

-N

On Fri, Jun 30, 2017 at 2:47 PM, Tom Rodeheffer <notifications@github.com>
wrote:

[2017-07-01 00:44] jafingerhut commented on #323
Initial proposal, but I would love to hear @vgurevich's take on this one, too.

For counter updates and register writes, no counter or register state will be updated.

For register reads, an undefined value will be returned as the result of the read.

For meter updates, no meter state will be updated, but the 'metering result' (e.g. red/yellow/green, or conforms/exceeds/violates) will be an undefi

[2017-07-01 01:31] vgurevich commented on #335
@jafingerhut ,

This is definitely a solution as long as you feel comfortable mandating the number of levels, the order of levels, the representation of the aggregates and other things that are needed for the "interesting programs".

The problem is that PRE is not programmable, so there is a very high chance that different PREs from different vendors will all be not-quite-compatible to put it mild

[2017-07-01 01:32] vgurevich commented on #323
+1

[2017-07-01 02:11] jafingerhut commented on #305
@cc10512 Do you know who wrote the question "are random hash algorithms useful?" in the PSA draft?  If it was you, do you have any thoughts on this?

[2017-07-01 04:15] vgurevich commented on #305
Actually the current semantics is "an algorithm that a compiler picks for you in some fashion", so it is more like "any"/"auto"/"don't really care because anything will do".

[2017-07-01 22:30] jafingerhut commented on #308
Proposal:

+ For direct counters, allow the counter_type to be 'packets' only -- do not support counter_type 'bytes', nor 'packets_and_bytes'.  If you want those counter types, use a regular counter instead of a direct counter.  (If someone wants to allow those counter types for direct counters, then they must define what value will be added to the 'bytes' counter when a packet searches the table.

[2017-07-01 22:31] jafingerhut commented on #309
@cc10512 Any thoughts on these questions, or a pointer to whoever wrote this part of the draft PSA document so we can ask them?

[2017-07-01 22:40] jafingerhut commented on #312
Proposal:

+ For meter type 'packets', change the current method definition 'MeterColor_t execute(in S index, in MeterColor_t color);' to one of these

(1) void execute(in S index, out MeterColor_t color)   (note: 'in' changed to 'out' for 2nd arg)
(2) MeterColor_t execute(in S index)     (note: remove 2nd arg - color is return value)
(3) something else, after someone explains why returning a Mete

[2017-07-01 22:47] jafingerhut commented on #313
Proposal:

+ Remove the type 'RandomDistribution' enum definition, and remove argument 'dist' from extern Random's constructor method.  Specify that all Random externs return pseudo-randomly generated values that are as close to uniformly distributed in the range [min, max] (inclusive) as the implementation can achieve.  For example, if the implementation is limited to generating 32-bit values uni

[2017-07-01 23:06] vgurevich commented on #312
@jafingerhut

Totally agree that if a method computes something (e.g. MeterColor_t) is should return it (rather than using an "out" parameter), since it facilitates composability (e.g. the result can be used in an expression).

Some thoughts on the "length" parameter...

Why don't we start with just packet-based meters and counters, because the byte-based ones are quite difficult.

 In many cases

[2017-07-01 23:11] vgurevich commented on #308
I would make even a stronger statement -- we should probably start defining packet counters only.

Byte counters (or packet-and-byte) should be defined separately and they will probably be quite restricted, based on what we know about high-speed pipelines and their implementations. The reason I am saying that is because more often than not, packet length is not even available during packet process

[2017-07-02 00:55] jafingerhut commented on #312
"Why don't we start with just packet-based meters and counters, because the byte-based ones are quite difficult."

The read-modify-write part of the update in hardware isn't very difficult at all.  It is just a 16-bit add/subtract to a number of tokens, instead of increment/decrement.

Agreed that cut-through makes knowing packet lengths 'interesting', but even there one might usefully calculate t

[2017-07-02 17:51] jafingerhut opened #341 "P4_16: Convenient initialization of header/structs"
## Personnel
- [x] **Owner**: @jafingerhut
- [x] **Supporters**: @liujed, @marko-stanoj

## Design
- [x] **Document**:

## Implementation
- [x] **`p4-spec`**: https://github.com/p4lang/p4-spec/pull/717
- [x] **`p4c`**: https://github.com/p4lang/p4c/pull/2368

## Process
- [x] **LDWG discussed**:
- [x] **LDWG approved**:
- [x] **Merged into `p4-spec`**:
- [x] **Merged into `p4c`**:

I believe @vgur

[2017-07-02 18:00] jafingerhut opened #342 "P4_16: Allow headers to contain 'bit-vector structs'"
Feel free to mark this issue "Post P4_16" if it helps.  I just want to get the issue out there right now.

Define a 'bit-vector struct' to be one that contains only these kinds of fields:
+ fields of type `bit<W>` or `int<W>`
+ fields of a struct type that is also a 'bit-vector struct'

Such a 'bit-vector struct' has a straightforward way to define how extract() and emit() methods would work on th

[2017-07-02 18:24] jafingerhut commented on #324
Proposal:

For meters, the primary dynamic state I am aware of is the number of tokens/bytes allowed to be permitted by the meter as GREEN or YELLOW result before RED is hit.  The most reasonable initial state I can think of for that would be the maximum burst size configured for the meter.

For registers, every register can be used to implement a completely unique feature that the compiler has no

[2017-07-02 18:28] jafingerhut commented on #322
Perhaps the 'base' and 'max' are intended to implement modulo behavior as P4_14 had for its modify_field_with_hash_based_offset primitive operation?

[2017-07-02 21:37] vgurevich commented on #324
For an unprogrammed meter, I'd suggest either always return GREEN, that way, if it's not programmed it is not really visible.

Alternatively, it can always return RED -- a little safer, but a lot more annoying choice.

+1 on registers.

[2017-07-03 03:40] cc10512 commented on #309
@jafingerhut, as you've surely noticed all the @ControlPlaneAPI calls (and the annotation) are within comments. The idea is that we have a one stop shop to understand how to program _and_ configure an extern and build toward a full specification that can be used by tools to generate all the necessary APIs.

A 'sync_read' is a read that forces the counter to accumulate all outstanding operations an

[2017-07-03 04:11] cc10512 commented on #303
@jafingerhut I do not think it is a good idea to truncate headers. And in any case, for headers we have remove_header primitives to "truncate" the size of packet headers. I believe that truncate should refer to payload only. The unit should be in bytes, and in that case, does it make sense to have truncate(0) to fully remove the payload?

[2017-07-03 04:12] jnfoster commented on #303
+1

-N

On Sun, Jul 2, 2017 at 9:11 PM, Calin Cascaval <notifications@github.com>
wrote:

[2017-07-03 04:12] #298 closed

[2017-07-03 06:03] jafingerhut commented on #309
@cc10512 I see @controlplaneapi directives in the PSA.mdk source file, and I see those in the HTML output as well.  The function signatures alone are not sufficient documentation.  They need at least a few sentences of text for each one, describing the intended behavior.

I have read somewhere that it is in the charter of the P4 control plane work group to define the APIs for not only table add/de

[2017-07-03 06:04] jafingerhut commented on #309
Why would you want the control plane to call stop(), assuming that this means that data packets can continue to be forwarded, but counter updates will no longer be occurring?

[2017-07-03 06:34] cc10512 commented on #309
One scenario: in an INT-dominated world, where we continuously collect information, we might get overwhelmed with counting everything, and we could rather sample at certain intervals.

Involving the API WG is a good idea, but note that we already have them involved. Samar, Waqar, and Tom work with Lorenzo at Google and are part of this crowd, and I know @antoninbas is keeping an eye on the discuss

[2017-07-05 16:13] vgurevich commented on #341
Thanks a lot, @jafingerhut !

I hope this construct will promote using local metadata as much as possible, as opposed to the current model, where everything is global, partially due to the convenience of the global metadata being initialized by the architecture.

[2017-07-07 17:12] cc10512 commented on #324
At the risk at shooting ourselves in the foot and let undefined slip in, there is also the option of allowing the target implementation define what is the initial value, and if the PSA programmer wishes a particular value, then she should set it with the appropriate control plane API.

[2017-07-07 17:27] cc10512 commented on #306
@jafingerhut, yes, please!

[2017-07-07 17:30] cc10512 commented on #119
obsolete.

[2017-07-07 17:30] #119 closed

[2017-07-07 17:50] jafingerhut commented on #324
@cc10512 Definitely.  For the contents of tables and externs with a significant amount of state, it is likely going to be control plane software that will be the actual determining factor in what the state is that the P4 program 'sees' when it processes its first packet after booting up a system.

[2017-07-07 21:21] #299 closed

[2017-07-07 21:36] jafingerhut commented on #306
I will create such a PR, but another issue I found is that if you try code like this with the latest version of p4test from the p4lang/p4c repository, it gives an error.

Snippet of code:
[code]
I get an error like the following from the latest 2017-Jul-05 version of p4test:
[code]

Is this something that you expect to be correct syntax in P4_16?  The grammar seems to allow it, so not sure why the

[2017-07-07 21:40] cc10512 commented on #306
@hanw noticed it as well and we believe this is a bug in the compiler. I recall some discussion between him and @mbudiu-vmw, but don't recall the conclusion. I should think that one of the enum members should be a valid type for the instantiation of the extern. So we''ll have to fix the compiler.

[2017-07-07 21:58] hanw commented on #306
Issue #492 in p4lang/p4c. Solution is to pass constant value as a constructor parameter.

[2017-07-07 22:22] jafingerhut commented on #306
@hanw Thanks.  Yes, that makes sense.  My PR for the PSA document can include this change to the Hash extern as well.

[2017-07-07 22:47] jafingerhut commented on #306
Created PR https://github.com/p4lang/p4-spec/pull/346

[2017-07-08 01:08] cc10512 commented on #306
addressed by #346.

[2017-07-08 01:08] #306 closed

[2017-07-08 16:27] tomrodeheffer opened #347 "Crazy idea: run-time int values"
The spec permits `int` literals but forbids the declaration of `int` run-time values for the very good reason that hardware cannot plausibly handle infinite-precision values.

But, you know, if we wanted to entertain a wild and crazy idea, we could permit `int` declarations for run-time values with the semantics that the allocated width would be big enough to handle any value that could actually h

[2017-07-09 18:26] #276 closed

[2017-07-09 18:26] #295 closed

[2017-07-10 19:14] jnfoster commented on #347
In fact, P4_14 already does something quite similar to this. There are no types, but the Python implementation infers types from the code -- when it needs to satisfy two constraints, it takes the wider one.

So... I like this idea too :-)

On the other hand, I also think it's fine to treat this extension as low-priority given that the current restrictions are not too onerous and there are lots of

[2017-07-11 00:45] vgurevich commented on #339
As per brief discussion in the committee...

Option 1 is really simple and protects "unsuspecting" programs from malformed packets. However, given that the packets can reach "reject" state implicitly, it leaves no choices to the advanced users.

Option 2 is more complicated and the programmer must write the code to deal with the malformed packets. However, the flexibility is enormously better.  Fo

[2017-07-11 22:43] jafingerhut commented on #308
@jnfoster @vgurevich @cc10512  (others welcome to answer -- I just want to call attention to the questions below to these people, who expressed interest in this topic)

Before the PSA working group meeting on 2017-Jul-10, I had previously believed (perhaps mistakenly) that having a direct counter associated with a table meant that even if the P4 program had no explicit count() update method calls

[2017-07-11 23:49] ChrisDodd commented on #308
For a direct counter, the count method has no index parameter -- there's one counter associated with each action and that counter is bumped when the action calls ctr.count().  On some hardware it might be possible to do that conditionally.

For a normal counter, the count method has an index parameter that specifies which counter in the counter array gets bumped.  So you call ctr.count(idx) where

[2017-07-12 00:10] jafingerhut commented on #308
@ChrisDodd Thanks for the distinctions you gave.  I feel like slapping my forehead due to forgetting such basic distinctions.  Will include brief reminders of these facts in my proposed changes to the PSA.

Still hoping someone has a P4_16 code snippet giving proposed syntax for instantiating a direct counter, with a proposed table attribute, if one is intended to be involved.

I will assume for n

[2017-07-12 00:37] hanw commented on #308
How about something along this line?

[code]

[2017-07-12 00:42] jafingerhut commented on #308
@hanw Thanks.  @optional is a relatively recent addition to the p4c compiler, as far as I know.  It is definitely not mentioned in the P4_16 v1.0.0 spec.  Are you proposing that @optional should be supported by all P4_16 implementations that support the PSA?

[2017-07-12 02:13] hanw commented on #308
The `@optional` annotation is a stop-gap until we can have named parameter in p4-16. I am not proposing `@optional` should be used in PSA. A better solution is to support named parameter in the language. With `@optional` or named parameter, we can use the same counter extern for both direct and indirect counters. Without `@optional`, we will need to define two separate externs, as in the current P

[2017-07-12 04:29] jafingerhut commented on #311
This PR proposes relevant changes: https://github.com/p4lang/p4-spec/pull/348

[2017-07-12 04:29] jafingerhut commented on #308
This PR proposes relevant changes: https://github.com/p4lang/p4-spec/pull/348

[2017-07-12 04:30] jafingerhut commented on #312
This PR for Counter and DirectCounter changes doesn't make any changes for Meter and DirectMeter, but if those changes are considered reasonable for counters, similar style changes could be made for meters: https://github.com/p4lang/p4-spec/pull/348

[2017-07-12 04:44] cc10512 commented on #308
@jafingerhut AFAIK the current BMv2 implementation requires explicitly calling count in an action(). @antoninbas should confirm.

[2017-07-12 04:44] jafingerhut commented on #323
This PR proposes relevant changes, but only for counter, not for meters or registers: https://github.com/p4lang/p4-spec/pull/348

[2017-07-12 06:54] mbudiu-vmw commented on #308
Optional is not the same, since it allows both calls with and without argument for the same instance.
You could consider a countBytes() method.

[2017-07-12 15:38] jafingerhut commented on #308
@mbudiu-vmw Do you see any problems if we have the following method signatures for a Counter extern?

+ a 2-argument count(index, add_value) method that adds 'add_value' to a counter, and also
+ a 1-argument count(index) method that behaves the same as count(index, 1)

That is what is in a current proposal for updating the PSA, but would to know if making those the same name would be a problem.

[2017-07-12 15:56] vgurevich commented on #308
Personally, I am not in favor of merging direct and indirect counters.  There is some commonality to be sure, but ultimately they are fairly different objects not only in the data plane (as is evidenced by this additional parameter), but in the control plane also.

I suggest keeping them separate. Having these optional arguments, overloaded method signatures and such seem to confuse us more than i

[2017-07-12 16:01] jafingerhut commented on #308
@vgurevich After @ChrisDodd reminded me of the fundamental difference between direct and indirect counters, I agree they should be kept separate.  Please take a look at the proposed PR and let me know what else is wrong with it :-)

[2017-07-12 18:43] antoninbas commented on #308
Not sure if it is relevant to the discussion but @cc10512 mentioned me so... in bmv2 direct counters do not require calling count explicitly in the action, because this is the way P4_14 works. The simple_switch `count` action primitive (https://github.com/p4lang/behavioral-model/blob/master/targets/simple_switch/primitives.cpp#L291) always takes an index because it can only be used for indirect co

[2017-07-12 19:04] jnfoster commented on #340
See #349

[2017-07-12 20:14] mbudiu-vmw commented on #308
Extern methods cam be overloaded if they have a different number of arguments. How optional arguments will impact this is not clear.

[2017-07-12 20:37] mbudiu-vmw commented on #347
I would prefer a programming style where the resources required are readily apparent from the code.

[2017-07-18 14:59] jafingerhut commented on #264
Another motivation for such a change - currently there is no way to modify the contents of a variable-length header, or to create one in an output packet unless that exact same header with a varbit field was parsed in the received packet.  Lifting those restrictions would be nice in a few use cases.

[2017-07-19 16:22] jafingerhut opened #353 "[PSA] Document effect of multiple 'pipelines' on Register extern?"
I am assuming that the following will be true of some P4 programmable devices:

(a) If it has multiple match-action pipelines, then the physical storage accessed by Register externs will be separate for each such pipeline.

(b) There will typically be no kind of 'coherency' protocol implemented between these pipelines (that would be very expensive and probably application-dependent what you would

[2017-07-19 17:00] SmartHoneybee commented on #286
Hello,

please consider updating
[code]
to (the BNF equivalent of) the version used by `p4c`:
[code]

Thanks.

[2017-07-19 17:47] mbudiu-vmw commented on #286
This is an experimental feature in the compiler. Maybe this will appear in a future version of the spec.

[2017-07-20 00:09] jafingerhut commented on #340
Looks like fixes for this issue may be committed now?

[2017-07-20 00:09] jnfoster commented on #340
Indeed. Closed by #349.

[2017-07-20 00:09] #340 closed

[2017-07-20 00:12] jafingerhut commented on #339
An issue from p4lang/p4c that has some related discussion.
 Not sure if it helps inform the answer to this issue or not: https://github.com/p4lang/p4c/issues/675

[2017-07-20 00:13] mbudiu-vmw commented on #331
Internally the compiler uses InfInt for this type. The problem is that `bit` is an abbreviation of `bit<1>`, but `int` is not an abbreviation of `int<1>`.

We can add `int` to the grammar; it would make sense indeed for writing some constant values, as @tomrodeheffer proposes, and also for constructor argument types. But it is not clear that the value provided is worthwhile.

[2017-07-20 01:02] mbudiu-vmw commented on #353
An extern instance should have its own resources.
A Register instance, in particular, should have its private storage. If your architecture has multiple pipelines, it should have multiple `control` instances as arguments of the toplevel `package`, and each of them will then use different register instances. The language is rich enough to support describing how resources are allocated for various a

[2017-07-20 01:22] antoninbas commented on #353
I agree with @jafingerhut that it should probably be mentioned somewhere in the spec. This pretty much affects all stateful externs and you did mention counters and meters.
@mbudiu-vmw I expect that this kind of hardware will indeed come with its own architecture which will expose one programmable control per pipe. However, the whole idea of PSA is that it can be implemented across as many P4-prog

[2017-07-20 01:33] jafingerhut commented on #337
I created this PR with some proposed changes to add ValueSet extern to PSA spec: https://github.com/p4lang/p4-spec/pull/354

[2017-07-20 01:56] jafingerhut commented on #353
@mbudiu-vmw I understand what you are suggesting, I believe, but for a chip that has 4 ingress and 4 egress pipelines, it would mean the top level package would have 'slots' to plug in 4 parsers, 4 ingress pipelines, 4 egress pipelines, and 4 deparsers.  In practice I suspect most people would always want to 'plug in' the same parser into all 4 slots, the same ingress control block into all 4 slot

[2017-07-20 15:46] vgurevich commented on #353
I think that PSA should stay with a single ingress and egress (in terms of the package). Otherwise we will end up with PSA-1, PSA-2, PSA-4, etc (depending on the number of pipes). Some architectures might be using a pipeline per port and that might get really ugly.

I suggest we simply state that the programmer needs to be aware of the certain effects if the underlying target uses multiple indepen

[2017-07-20 16:19] mbudiu-vmw commented on #353
I think that the more precise description of PSA is as being a parameterized family of architectures, and not an architecture. For example, the number of ports is a parameter.

One can think of the number of pipelines being another parameter.

But indeed, we don't have suitable language mechanisms to describe the various architectures parameterized by the number of pipelines in a nice way. Logical

[2017-07-20 16:21] mbudiu-vmw commented on #353
BTW: this will be the most important to get right for the control-plane API, because if your switch has multiple pipelines the control plane has to use different names for each of the stateful objects that it is accessing.

[2017-07-20 17:27] vgurevich commented on #353
@jafingerhut It is not really clear to me what specific problem this complex definition will actually solve, except multiplying all objects by N=number_of_pipes.

As @mbudiu-vmw noticed, the main issue is on the control plane side and from the control-plane perspective, pipe-local objects are usually an exception, rather than the rule and more often than not this is just an optimization that allow

[2017-07-20 18:40] jafingerhut commented on #353
@vgurevich In a 2-pipeline device, where the same P4 program is currently loaded into every pipeline, not only the registers, but all P4 tables have independent storage for each pipeline, e.g. an IPv4 longest-prefix-match table that is read-only from the P4 program is actually stored 2 times, once per pipeline.

Are you saying that you believe that the control plane API should be _always_ restrict

[2017-07-20 22:37] vgurevich commented on #353
@jafingerhut ,

You are correct -- in a multi-pipeline device everything is typically pipe-local and that certainly includes tables.

IPv4 LPM table is actually a good example of a table that is typically programmed the same way for all the pipes -- you never know from which port a packet destined to a given IP address will ingress. It **might** be possible to save some space if you use port-based

[2017-07-20 22:39] jnfoster commented on #353
I haven't been following this discussion closely, but I would ask that whatever design we converge on be compatible with the `atomic` annotation, which was added to P4_16 (led by @anirudhSK).

[2017-07-20 22:47] mbudiu-vmw commented on #353
If you have multiple pipelines and each of them has a separate register/counter, a control plane shim will be unable to provide even the standard semantics for a global register/counter (leaving @atomic aside). Consider the case where one of the counters in one pipeline overflows or saturates.

[2017-07-20 22:51] jafingerhut commented on #353
@jnfoster Thanks for reminding me of the @atomic annotation, and I wanted to ask a clarifying question on that.

It seems to me that in the PSA document, we should be reminding people that if they do a Register read() call, then later a write() call, and those operations are _not_ enclosed inside a block with the @atomic annotation, then a PSA-compliant implementation is allowed to make it non-ato

[2017-07-20 22:55] jafingerhut commented on #353
@mbudiu-vmw Multiple counter states in parallel pipelines are easily combinable via addition, and for pretty much any practical purposes I can imagine, that is functionally equivalent to a single counter state updated by all pipelines.  You lose information in the wrap/saturate case regardless of whether there is one pipeline or more than one.

[2017-07-20 23:34] jnfoster opened #356 "Keywords"
I think `next` and `last` should be reserved keywords.

[2017-07-21 00:27] anirudhSK commented on #353
@jnfoster I think multi-pipeline atomics are forbidden by the P4 grammar. The grammar snippet just under 6.5 here (https://p4lang.github.io/p4-spec/docs/P4-16-v1.0.0-spec.html) suggests that you cannot have an @atomic that spans two control declarations, which would be needed to implement a multi-pipeline atomic counter---at least a counter implemented using an @atomic block like this:
@atomic{

[2017-07-21 05:10] jafingerhut commented on #322
Should be fixed with this commit: https://github.com/p4lang/p4-spec/commit/0aae596698144f4897984550b937467af6e42218

[2017-07-21 05:11] #322 closed

[2017-07-21 15:28] mbudiu-vmw commented on #353
@anirudhSK, I believe that the problem here is that PSA wants people to write a p4 program for a switch with a single pipeline, but the program will be synthesized identically multiple times in multiple pipelines. The control plane is supposed ti hide this fact, by aggregating information from all pipelines.

I think that this is very fragile; maybe this can be made to work for some restricted sce

[2017-07-21 16:30] jafingerhut commented on #353
I am going to mention @antoninbas explicitly, since this comment would have a noticeable effect on the control plane API, if the idea is implemented.

I believe that the main motivation for wanting to try to 'hide' multiple pipelines from the control plane  is performance -- if tables have the same contents (a common use case), it would be nice if the control plane API can send only one update, an

[2017-07-21 16:52] vgurevich commented on #353
@jafingerhut

Actually, the main reason is convenience, because having loops around 90% of the API calls (plus the proper error handling) is quite annoying. It's certainly possible to do (and sometimes might be needed in the most advanced cases), but I would not make it a default option.

But in any case, all this can be easily achieved at the control plane level -- I do not think we need to compl

[2017-07-21 23:02] mbudiu-vmw commented on #356
Why? They are just fields of a stack object.

[2017-07-22 17:13] jafingerhut commented on #353
@vgurevich I don't think it has huge effects on the P4 code, but there are at least a few issues where a P4 programmer needs to be aware that the code they are writing would be running on a multi-pipeline device, vs. a single-pipeline device.

The draft PSA we have now mentions Ingress2Egress and Egress2Ingress as clone methods.  If there are multiple ingress and multiple egress pipelines, are the

[2017-07-22 19:20] vgurevich commented on #353
@jafingerhut

I totally agree that there may be systems and programs, where multi-pipeline effects are significantly more pronounced and visible and all the examples you cite are totally possible and valid. I also totally agree that the users of the multi-pipeline device must be fully aware of the details of their particular architectures and differences vs. single-pipeline devices and act accordi

[2017-07-22 20:38] jafingerhut commented on #353
So in the PSA, we have choices on what to say about this.  Below are two possibilities.  I personally prefer #2 over #1.

1. Nothing.  The disadvantage there being that there will be non-portable P4 programs between PSA-compliant devices that we know about now, on which we say nothing in the document, but let people rediscover it themselves.

2. Add an appendix describing these issues at least som

[2017-07-23 00:55] vgurevich commented on #353
@jafingerhut

Definitely +1 on number 2.

[2017-07-23 17:21] jafingerhut commented on #353
@anirudhSK You say "For the PSA, it seems to me the simplest solution is to ensure that each globally allocated extern (we considered and rejected local externs earlier: #81) is still accessed from at most one pipeline."

The P4_16 v1.0.0 spec _does_ allow local externs instantiated at the top level of control blocks and parsers, at least.  The grammar permits them in other places, but at least th

[2017-07-23 19:31] anirudhSK commented on #353
@jafingerhut
I don't think local externs are permitted by the grammar. When I said local extern, I meant the ability to declare an extern within a control block, the way table declarations are local to a control block.

https://github.com/p4lang/p4-spec/blob/master/p4-16/spec/P4-16-spec.mdk#L1348
suggests that externs (externDeclaration) can be declared at the same level as a parser or control, bu

[2017-07-23 20:35] jafingerhut commented on #353
@anirudhSK I believe it is the plan of record that compilers for PSA-compliant devices are allowed to reject perfectly correct P4_16 programs, if those programs violate any of a list of additional restrictions documented in the forthcoming PSA spec.

If that is so, there is no reason to change the P4_16 spec to disallow things, if we wish to disallow them in PSA-portable programs.

[2017-07-23 20:55] anirudhSK commented on #353
Rejecting non-compliant programs in the compiler is definitely helpful. It is much easier than changing the spec and certainly better than undefined behavior. But I have a somewhat naive question. How does the compiler even detect this unsafe access of an extern from multiple pipelines?

If the PSA looks like a single pipeline device at the level of the P4 source, i.e., one control for ingress, on

[2017-07-23 21:49] jafingerhut commented on #353
@anirudhSK You point out the part of the grammar that has an externDeclaration.  Maybe I'm way off base here, but I think an externDeclaration without an 'instantiation' will not create any extern state within a P4 program.  It is the instantiations that create the state, and the instantiations can be either global, but are also permitted within a parser or control block.

Am I off base here?  Hop

[2017-07-23 23:05] anirudhSK commented on #353
@jafingerhut You're right. Extern variables can be instantiated within a control (as my own comments at the top of https://github.com/p4lang/p4-spec/issues/81 show :)). Here's another example, where Counter is declared here: https://github.com/p4lang/p4c/blob/428a38ea275c74d51fbe97cc4a81eeaab62bc016/testdata/p4_16_samples_outputs/rcp1-frontend.p4#L15 and instantiated here: https://github.com/p4lan

[2017-07-23 23:11] vgurevich commented on #353
@anirudhSK ,

I am still not clear how **specifically** creating a package with multiple, but identical ingress/egress control functions will help the compiler to notice that someone is trying to access an extern that "lives" in another pipeline. These externs will still be local to the corresponding controls, so there is no way one can even express that they are trying to access something else.

[2017-07-23 23:56] anirudhSK commented on #353
I intended for the package to support multiple possibly distinct ingress and egress control functions.  But in the common case, these control functions (as implemented by the P4 programmer) could carry out the same functionality in each pipeline, similar to how Andy talked about plugging in the same parser block into all four pipelines.

If the extern is instantiated locally (within a parser or co

[2017-07-24 00:25] vgurevich commented on #353
@anirudhSK ,

One way to solve this might be to have an array of N globally-instantiated externs (one for each pipeline), e.g.
[code]
and also have a special (e.g. intrinsic metadata), e.g. my_pipe. Then, every time one wants to access these externs, they will have to specify something like
[code]
Personally, I feel that this medicine will be worse than the actual problem (not to mention required

[2017-07-24 01:41] jafingerhut commented on #353
@vgurevich I don't see why there is any reason to go to having an array of 4 globally accessible externs in order to support a 4-pipeline device.

It is sufficient to have package that has 4 instances of an ingress control, and each of those has its own _locally_ instantiated extern, and each only accesses its local one.  No changes the the P4_16 language are needed for this, and the differences i

[2017-07-24 02:48] vgurevich commented on #353
@jafingerhut

I think we need to decide what we are trying to achieve. If the desire is to do things in a simple way and worry about complex issues later, I would suggest defining PSA for a single pipeline only and write an appendix with notes/warnings about multi-pipeline devices.

If the desire is to express the contents of that appendix in the language, then having a package with N instances of

[2017-07-24 04:21] anirudhSK commented on #353
"If the desire is to express the contents of that appendix in the language, then having a package with N instances of ingress/egress/etc. is not going to cut it, as @anirudhSK and I discussed above. "

I think a package with N instance of ingress/egress should be sufficient to cover all the cases I can think of. For locally instantiated externs, the language itself will enforce that the externs ca

[2017-07-24 15:54] jafingerhut commented on #353
@vgurevich @anirudhSK I have created a simple, short P4_16 program using today's draft psa.p4 #include file, and also a slightly modified version of those files that demonstrates one way to make multiple pipelines explicit, but most of the changes are limited to the psa.p4 file, with almost no changes required in the P4_16 program's that #include it.  You can see that sample code here: https://git